sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 51em;
}
.stl_06 {
	height: 6.6em;
}
.ie .stl_06 {
	height: 66em;
}
@font-face {
	font-family:"KEVUEH+LinuxBiolinum";
	src:url("cec24bf6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.833333em;
	font-family: "KEVUEH+LinuxBiolinum";
	color: #000000;
}
.stl_08 {
	line-height: 1.140137em;
}
.stl_09 {
	letter-spacing: 0.0002em;
}

.ie .stl_09 {
	letter-spacing: 0.0029px;
}
@font-face {
	font-family:"NBMGFU+LinBiolinumTB";
	src:url("62ab705d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1.721917em;
	font-family: "NBMGFU+LinBiolinumTB", "Times New Roman";
	color: #000000;
}
.stl_11 {
	line-height: 1.29em;
}
.stl_12 {
	letter-spacing: -0.0026em;
}

.ie .stl_12 {
	letter-spacing: -0.0716px;
}
.stl_13 {
	letter-spacing: 0.0001em;
}

.ie .stl_13 {
	letter-spacing: 0.0041px;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"VVFLUN+LinLibertineTB";
	src:url("527cacb9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.83025em;
	font-family: "VVFLUN+LinLibertineTB", "Times New Roman";
	color: #000000;
}
.stl_16 {
	line-height: 1.342em;
}
.stl_17 {
	letter-spacing: -0.0114em;
}

.ie .stl_17 {
	letter-spacing: -0.1508px;
}
@font-face {
	font-family:"VFIDJC+LinLibertineT";
	src:url("513beb08-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.83025em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_19 {
	line-height: 1.382em;
}
.stl_20 {
	letter-spacing: -0.0016em;
}

.ie .stl_20 {
	letter-spacing: -0.0208px;
}
.stl_21 {
	letter-spacing: -0.0036em;
}

.ie .stl_21 {
	letter-spacing: -0.0473px;
}
.stl_22 {
	letter-spacing: 0.0006em;
}

.ie .stl_22 {
	letter-spacing: 0.0085px;
}
.stl_23 {
	letter-spacing: 0.0005em;
}

.ie .stl_23 {
	letter-spacing: 0.0073px;
}
.stl_24 {
	letter-spacing: -0.0006em;
}

.ie .stl_24 {
	letter-spacing: -0.0082px;
}
.stl_25 {
	font-size: 0.83025em;
	font-family: "NBMGFU+LinBiolinumTB", "Times New Roman";
	color: #000000;
}
.stl_26 {
	letter-spacing: -0.0049em;
}

.ie .stl_26 {
	letter-spacing: -0.0645px;
}
.stl_27 {
	font-size: 0.747167em;
	font-family: "VVFLUN+LinLibertineTB", "Times New Roman";
	color: #000000;
}
.stl_28 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9803922);
	-o-transform: scale(1,0.9803922);
	-ms-transform: matrix(1,0,0,0.9803922,0,-0);
	-moz-transform: scale(1,0.9803922);
	-webkit-transform: scale(1,0.9803922);
}
.stl_29 {
	font-size: 0.76211em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_30 {
	letter-spacing: -0.0046em;
}

.ie .stl_30 {
	letter-spacing: -0.0558px;
}
.stl_31 {
	letter-spacing: -0.0015em;
}

.ie .stl_31 {
	letter-spacing: -0.0179px;
}
.stl_32 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9823183);
	-o-transform: scale(1,0.9823183);
	-ms-transform: matrix(1,0,0,0.9823183,0,-0);
	-moz-transform: scale(1,0.9823183);
	-webkit-transform: scale(1,0.9823183);
}
.stl_33 {
	font-size: 0.760616em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"TLCPPG+LinLibertineTI";
	src:url("8bf3c545-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 0.760616em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_35 {
	line-height: 1.205em;
}
.stl_36 {
	letter-spacing: -0.0005em;
}

.ie .stl_36 {
	letter-spacing: -0.0061px;
}
.stl_37 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.020408);
	-o-transform: scale(1,1.020408);
	-ms-transform: matrix(1,0,0,1.020408,0,-0);
	-moz-transform: scale(1,1.020408);
	-webkit-transform: scale(1,1.020408);
}
.stl_38 {
	font-size: 0.732223em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_39 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9891196);
	-o-transform: scale(1,0.9891196);
	-ms-transform: matrix(1,0,0,0.9891196,0,-0);
	-moz-transform: scale(1,0.9891196);
	-webkit-transform: scale(1,0.9891196);
}
.stl_40 {
	font-size: 0.755386em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_41 {
	letter-spacing: 0.0012em;
}

.ie .stl_41 {
	letter-spacing: 0.0144px;
}
.stl_42 {
	font-size: 0.755386em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_43 {
	letter-spacing: -0.0065em;
}

.ie .stl_43 {
	letter-spacing: -0.0792px;
}
.stl_44 {
	font-size: 0.747167em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_45 {
	font-size: 0.846855em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_46 {
	letter-spacing: -0.001em;
}

.ie .stl_46 {
	letter-spacing: -0.0129px;
}
.stl_47 {
	letter-spacing: -0.0018em;
}

.ie .stl_47 {
	letter-spacing: -0.0246px;
}
.stl_48 {
	font-size: 0.813645em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_49 {
	letter-spacing: -0.0027em;
}

.ie .stl_49 {
	letter-spacing: -0.0357px;
}
.stl_50 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.013171);
	-o-transform: scale(1,1.013171);
	-ms-transform: matrix(1,0,0,1.013171,0,-0);
	-moz-transform: scale(1,1.013171);
	-webkit-transform: scale(1,1.013171);
}
.stl_51 {
	font-size: 0.819457em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_52 {
	letter-spacing: -0.0004em;
}

.ie .stl_52 {
	letter-spacing: -0.005px;
}
.stl_53 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.998004);
	-o-transform: scale(1,0.998004);
	-ms-transform: matrix(1,0,0,0.998004,0,-0);
	-moz-transform: scale(1,0.998004);
	-webkit-transform: scale(1,0.998004);
}
.stl_54 {
	font-size: 0.831911em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_55 {
	letter-spacing: -0.002em;
}

.ie .stl_55 {
	letter-spacing: -0.0269px;
}
.stl_56 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.999001);
	-o-transform: scale(1,0.999001);
	-ms-transform: matrix(1,0,0,0.999001,0,-0);
	-moz-transform: scale(1,0.999001);
	-webkit-transform: scale(1,0.999001);
}
.stl_57 {
	font-size: 0.83108em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_58 {
	letter-spacing: -0.0011em;
}

.ie .stl_58 {
	letter-spacing: -0.0152px;
}
.stl_59 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.002004);
	-o-transform: scale(1,1.002004);
	-ms-transform: matrix(1,0,0,1.002004,0,-0);
	-moz-transform: scale(1,1.002004);
	-webkit-transform: scale(1,1.002004);
}
.stl_60 {
	font-size: 0.82859em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_61 {
	letter-spacing: 0.0003em;
}

.ie .stl_61 {
	letter-spacing: 0.004px;
}
.stl_62 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.997009);
	-o-transform: scale(1,0.997009);
	-ms-transform: matrix(1,0,0,0.997009,0,-0);
	-moz-transform: scale(1,0.997009);
	-webkit-transform: scale(1,0.997009);
}
.stl_63 {
	font-size: 0.832741em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_64 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.003009);
	-o-transform: scale(1,1.003009);
	-ms-transform: matrix(1,0,0,1.003009,0,-0);
	-moz-transform: scale(1,1.003009);
	-webkit-transform: scale(1,1.003009);
}
.stl_65 {
	font-size: 0.827759em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_66 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9842519);
	-o-transform: scale(1,0.9842519);
	-ms-transform: matrix(1,0,0,0.9842519,0,-0);
	-moz-transform: scale(1,0.9842519);
	-webkit-transform: scale(1,0.9842519);
}
.stl_67 {
	font-size: 0.843534em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_68 {
	letter-spacing: -0.0013em;
}

.ie .stl_68 {
	letter-spacing: -0.0172px;
}
.stl_69 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9910803);
	-o-transform: scale(1,0.9910803);
	-ms-transform: matrix(1,0,0,0.9910803,0,-0);
	-moz-transform: scale(1,0.9910803);
	-webkit-transform: scale(1,0.9910803);
}
.stl_70 {
	font-size: 0.837722em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_71 {
	letter-spacing: -0.0033em;
}

.ie .stl_71 {
	letter-spacing: -0.0447px;
}
.stl_72 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.004016);
	-o-transform: scale(1,1.004016);
	-ms-transform: matrix(1,0,0,1.004016,0,-0);
	-moz-transform: scale(1,1.004016);
	-webkit-transform: scale(1,1.004016);
}
.stl_73 {
	font-size: 0.826929em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_74 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9832842);
	-o-transform: scale(1,0.9832842);
	-ms-transform: matrix(1,0,0,0.9832842,0,-0);
	-moz-transform: scale(1,0.9832842);
	-webkit-transform: scale(1,0.9832842);
}
.stl_75 {
	font-size: 0.844364em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_76 {
	letter-spacing: -0.0001em;
}

.ie .stl_76 {
	letter-spacing: -0.0009px;
}
.stl_77 {
	letter-spacing: -0.0008em;
}

.ie .stl_77 {
	letter-spacing: -0.0106px;
}
.stl_78 {
	letter-spacing: -0.011em;
}

.ie .stl_78 {
	letter-spacing: -0.1491px;
}
.stl_79 {
	letter-spacing: 0.0004em;
}

.ie .stl_79 {
	letter-spacing: 0.0056px;
}
.stl_80 {
	font-size: 0.839383em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_81 {
	letter-spacing: -0.0028em;
}

.ie .stl_81 {
	letter-spacing: -0.0376px;
}
@font-face {
	font-family:"SRWMQN+LinLibertineT";
	src:url("a15e1637-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_82 {
	font-size: 0.83025em;
	font-family: "SRWMQN+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_83 {
	letter-spacing: 0.0008em;
}

.ie .stl_83 {
	letter-spacing: 0.0103px;
}
.stl_84 {
	font-size: 0.83025em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_85 {
	letter-spacing: -0.0012em;
}

.ie .stl_85 {
	letter-spacing: -0.0162px;
}
.stl_86 {
	letter-spacing: -0.0014em;
}

.ie .stl_86 {
	letter-spacing: -0.019px;
}
.stl_87 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.015228);
	-o-transform: scale(1,1.015228);
	-ms-transform: matrix(1,0,0,1.015228,0,-0);
	-moz-transform: scale(1,1.015228);
	-webkit-transform: scale(1,1.015228);
}
.stl_88 {
	font-size: 0.817796em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_89 {
	letter-spacing: -0.0002em;
}

.ie .stl_89 {
	letter-spacing: -0.0032px;
}
.stl_90 {
	font-size: 0.67745em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_91 {
	letter-spacing: -0.0003em;
}

.ie .stl_91 {
	letter-spacing: -0.003px;
}
.stl_92 {
	font-size: 0.650883em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_93 {
	font-size: 0.664167em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_94 {
	letter-spacing: 0.0015em;
}

.ie .stl_94 {
	letter-spacing: 0.0155px;
}
.stl_95 {
	font-size: 0.664167em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_96 {
	letter-spacing: -0.0022em;
}

.ie .stl_96 {
	letter-spacing: -0.0234px;
}
.stl_97 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.014199);
	-o-transform: scale(1,1.014199);
	-ms-transform: matrix(1,0,0,1.014199,0,-0);
	-moz-transform: scale(1,1.014199);
	-webkit-transform: scale(1,1.014199);
}
.stl_98 {
	font-size: 0.818627em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_99 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.007049);
	-o-transform: scale(1,1.007049);
	-ms-transform: matrix(1,0,0,1.007049,0,-0);
	-moz-transform: scale(1,1.007049);
	-webkit-transform: scale(1,1.007049);
}
.stl_100 {
	font-size: 0.824438em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_101 {
	letter-spacing: -0.0007em;
}

.ie .stl_101 {
	letter-spacing: -0.0096px;
}
.stl_102 {
	font-size: 0.664167em;
	font-family: "SRWMQN+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_103 {
	font-size: 0.664831em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_104 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.996016);
	-o-transform: scale(1,0.996016);
	-ms-transform: matrix(1,0,0,0.996016,0,-0);
	-moz-transform: scale(1,0.996016);
	-webkit-transform: scale(1,0.996016);
}
.stl_105 {
	font-size: 0.833571em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_106 {
	letter-spacing: -0.0085em;
}

.ie .stl_106 {
	letter-spacing: -0.0903px;
}
.stl_107 {
	letter-spacing: 0.125em;
}

.ie .stl_107 {
	letter-spacing: 1.3284px;
}
.stl_108 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.012146);
	-o-transform: scale(1,1.012146);
	-ms-transform: matrix(1,0,0,1.012146,0,-0);
	-moz-transform: scale(1,1.012146);
	-webkit-transform: scale(1,1.012146);
}
.stl_109 {
	font-size: 0.820287em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_110 {
	font-size: 0.832741em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_111 {
	letter-spacing: -0.0035em;
}

.ie .stl_111 {
	letter-spacing: -0.0466px;
}
.stl_112 {
	font-size: 0.846855em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_113 {
	letter-spacing: -0.0017em;
}

.ie .stl_113 {
	letter-spacing: -0.0237px;
}
.stl_114 {
	font-size: 0.813645em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_115 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9852217);
	-o-transform: scale(1,0.9852217);
	-ms-transform: matrix(1,0,0,0.9852217,0,-0);
	-moz-transform: scale(1,0.9852217);
	-webkit-transform: scale(1,0.9852217);
}
.stl_116 {
	font-size: 0.842704em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_117 {
	font-size: 0.842704em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_118 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9881423);
	-o-transform: scale(1,0.9881423);
	-ms-transform: matrix(1,0,0,0.9881423,0,-0);
	-moz-transform: scale(1,0.9881423);
	-webkit-transform: scale(1,0.9881423);
}
.stl_119 {
	font-size: 0.840213em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_120 {
	letter-spacing: -0.0009em;
}

.ie .stl_120 {
	letter-spacing: -0.0121px;
}
.stl_121 {
	letter-spacing: -0.0034em;
}

.ie .stl_121 {
	letter-spacing: -0.0467px;
}
.stl_122 {
	letter-spacing: 0.0007em;
}

.ie .stl_122 {
	letter-spacing: 0.0088px;
}
.stl_123 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9861932);
	-o-transform: scale(1,0.9861932);
	-ms-transform: matrix(1,0,0,0.9861932,0,-0);
	-moz-transform: scale(1,0.9861932);
	-webkit-transform: scale(1,0.9861932);
}
.stl_124 {
	font-size: 0.841874em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_125 {
	letter-spacing: 0.0011em;
}

.ie .stl_125 {
	letter-spacing: 0.0145px;
}
.stl_126 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.005025);
	-o-transform: scale(1,1.005025);
	-ms-transform: matrix(1,0,0,1.005025,0,-0);
	-moz-transform: scale(1,1.005025);
	-webkit-transform: scale(1,1.005025);
}
.stl_127 {
	font-size: 0.826099em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_128 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.001001);
	-o-transform: scale(1,1.001001);
	-ms-transform: matrix(1,0,0,1.001001,0,-0);
	-moz-transform: scale(1,1.001001);
	-webkit-transform: scale(1,1.001001);
}
.stl_129 {
	font-size: 0.82942em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_130 {
	letter-spacing: 0.001em;
}

.ie .stl_130 {
	letter-spacing: 0.0128px;
}
.stl_131 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9940357);
	-o-transform: scale(1,0.9940357);
	-ms-transform: matrix(1,0,0,0.9940357,0,-0);
	-moz-transform: scale(1,0.9940357);
	-webkit-transform: scale(1,0.9940357);
}
.stl_132 {
	font-size: 0.835232em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_133 {
	font-size: 0.835232em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_134 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9871668);
	-o-transform: scale(1,0.9871668);
	-ms-transform: matrix(1,0,0,0.9871668,0,-0);
	-moz-transform: scale(1,0.9871668);
	-webkit-transform: scale(1,0.9871668);
}
.stl_135 {
	font-size: 0.841043em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_136 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.01626);
	-o-transform: scale(1,1.01626);
	-ms-transform: matrix(1,0,0,1.01626,0,-0);
	-moz-transform: scale(1,1.01626);
	-webkit-transform: scale(1,1.01626);
}
.stl_137 {
	font-size: 0.816966em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_138 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.990099);
	-o-transform: scale(1,0.990099);
	-ms-transform: matrix(1,0,0,0.990099,0,-0);
	-moz-transform: scale(1,0.990099);
	-webkit-transform: scale(1,0.990099);
}
.stl_139 {
	font-size: 0.838553em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_140 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.006036);
	-o-transform: scale(1,1.006036);
	-ms-transform: matrix(1,0,0,1.006036,0,-0);
	-moz-transform: scale(1,1.006036);
	-webkit-transform: scale(1,1.006036);
}
.stl_141 {
	font-size: 0.825269em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_142 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.019368);
	-o-transform: scale(1,1.019368);
	-ms-transform: matrix(1,0,0,1.019368,0,-0);
	-moz-transform: scale(1,1.019368);
	-webkit-transform: scale(1,1.019368);
}
.stl_143 {
	font-size: 0.814475em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_144 {
	letter-spacing: -0.0019em;
}

.ie .stl_144 {
	letter-spacing: -0.0257px;
}
.stl_145 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.008065);
	-o-transform: scale(1,1.008065);
	-ms-transform: matrix(1,0,0,1.008065,0,-0);
	-moz-transform: scale(1,1.008065);
	-webkit-transform: scale(1,1.008065);
}
.stl_146 {
	font-size: 0.823608em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_147 {
	letter-spacing: -0.0064em;
}

.ie .stl_147 {
	letter-spacing: -0.0856px;
}
.stl_148 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.01833);
	-o-transform: scale(1,1.01833);
	-ms-transform: matrix(1,0,0,1.01833,0,-0);
	-moz-transform: scale(1,1.01833);
	-webkit-transform: scale(1,1.01833);
}
.stl_149 {
	font-size: 0.815306em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_150 {
	letter-spacing: -0.0084em;
}

.ie .stl_150 {
	letter-spacing: -0.112px;
}
.stl_151 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010101);
	-o-transform: scale(1,1.010101);
	-ms-transform: matrix(1,0,0,1.010101,0,-0);
	-moz-transform: scale(1,1.010101);
	-webkit-transform: scale(1,1.010101);
}
.stl_152 {
	font-size: 0.821948em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_153 {
	letter-spacing: -0.0108em;
}

.ie .stl_153 {
	letter-spacing: -0.1432px;
}
@font-face {
	font-family:"OGOFEL+LinBiolinumTI";
	src:url("03c5cbe7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_154 {
	font-size: 0.842704em;
	font-family: "OGOFEL+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_155 {
	line-height: 1.143em;
}
.stl_156 {
	letter-spacing: 0.0009em;
}

.ie .stl_156 {
	letter-spacing: 0.012px;
}
.stl_157 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9950249);
	-o-transform: scale(1,0.9950249);
	-ms-transform: matrix(1,0,0,0.9950249,0,-0);
	-moz-transform: scale(1,0.9950249);
	-webkit-transform: scale(1,0.9950249);
}
.stl_158 {
	font-size: 0.834401em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_159 {
	letter-spacing: -0.0024em;
}

.ie .stl_159 {
	letter-spacing: -0.0318px;
}
.stl_160 {
	font-size: 0.813645em;
	font-family: "OGOFEL+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_161 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.009082);
	-o-transform: scale(1,1.009082);
	-ms-transform: matrix(1,0,0,1.009082,0,-0);
	-moz-transform: scale(1,1.009082);
	-webkit-transform: scale(1,1.009082);
}
.stl_162 {
	font-size: 0.822778em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_163 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9930487);
	-o-transform: scale(1,0.9930487);
	-ms-transform: matrix(1,0,0,0.9930487,0,-0);
	-moz-transform: scale(1,0.9930487);
	-webkit-transform: scale(1,0.9930487);
}
.stl_164 {
	font-size: 0.836062em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_165 {
	letter-spacing: -0.0023em;
}

.ie .stl_165 {
	letter-spacing: -0.0311px;
}
.stl_166 {
	letter-spacing: -0.0042em;
}

.ie .stl_166 {
	letter-spacing: -0.0555px;
}
.stl_167 {
	letter-spacing: -0.0056em;
}

.ie .stl_167 {
	letter-spacing: -0.0729px;
}
.stl_168 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.017294);
	-o-transform: scale(1,1.017294);
	-ms-transform: matrix(1,0,0,1.017294,0,-0);
	-moz-transform: scale(1,1.017294);
	-webkit-transform: scale(1,1.017294);
}
.stl_169 {
	font-size: 0.816136em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_170 {
	letter-spacing: -0.0044em;
}

.ie .stl_170 {
	letter-spacing: -0.0589px;
}
.stl_171 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.011122);
	-o-transform: scale(1,1.011122);
	-ms-transform: matrix(1,0,0,1.011122,0,-0);
	-moz-transform: scale(1,1.011122);
	-webkit-transform: scale(1,1.011122);
}
.stl_172 {
	font-size: 0.821117em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_173 {
	letter-spacing: -0.0047em;
}

.ie .stl_173 {
	letter-spacing: -0.0628px;
}
.stl_174 {
	font-size: 0.846855em;
	font-family: "OGOFEL+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_175 {
	letter-spacing: 0.0013em;
}

.ie .stl_175 {
	letter-spacing: 0.0177px;
}
.stl_176 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9920635);
	-o-transform: scale(1,0.9920635);
	-ms-transform: matrix(1,0,0,0.9920635,0,-0);
	-moz-transform: scale(1,0.9920635);
	-webkit-transform: scale(1,0.9920635);
}
.stl_177 {
	font-size: 0.836892em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_178 {
	font-size: 0.814475em;
	font-family: "OGOFEL+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_179 {
	font-size: 0.827759em;
	font-family: "OGOFEL+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_180 {
	letter-spacing: -0.0037em;
}

.ie .stl_180 {
	letter-spacing: -0.0506px;
}
.stl_181 {
	letter-spacing: -0.0029em;
}

.ie .stl_181 {
	letter-spacing: -0.0372px;
}
.stl_182 {
	letter-spacing: 0.0052em;
}

.ie .stl_182 {
	letter-spacing: 0.0694px;
}
.stl_183 {
	font-size: 0.841874em;
	font-family: "OGOFEL+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_184 {
	font-size: 0.845195em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_185 {
	font-size: 0.845195em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_186 {
	letter-spacing: 0.096em;
}

.ie .stl_186 {
	letter-spacing: 1.3012px;
}
.stl_187 {
	letter-spacing: -0.0112em;
}

.ie .stl_187 {
	letter-spacing: -0.1483px;
}
.stl_188 {
	letter-spacing: -0.0025em;
}

.ie .stl_188 {
	letter-spacing: -0.0332px;
}
.stl_189 {
	letter-spacing: -0.0021em;
}

.ie .stl_189 {
	letter-spacing: -0.0285px;
}
.stl_190 {
	font-size: 0.819457em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_191 {
	font-size: 0.821117em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_192 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9813542);
	-o-transform: scale(1,0.9813542);
	-ms-transform: matrix(1,0,0,0.9813542,0,-0);
	-moz-transform: scale(1,0.9813542);
	-webkit-transform: scale(1,0.9813542);
}
.stl_193 {
	font-size: 0.846025em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_194 {
	font-size: 0.836892em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_195 {
	letter-spacing: 0.0017em;
}

.ie .stl_195 {
	letter-spacing: 0.0226px;
}
.stl_196 {
	font-size: 0.814475em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_197 {
	font-size: 0.831911em;
	font-family: "OGOFEL+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_198 {
	font-size: 0.836062em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_199 {
	font-size: 0.823608em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_200 {
	font-size: 0.840213em;
	font-family: "OGOFEL+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_201 {
	letter-spacing: -0.12em;
}

.ie .stl_201 {
	letter-spacing: -1.618px;
}
.stl_202 {
	letter-spacing: 0.012em;
}

.ie .stl_202 {
	letter-spacing: 0.1618px;
}
.stl_203 {
	letter-spacing: -0.009em;
}

.ie .stl_203 {
	letter-spacing: -0.1196px;
}
.stl_204 {
	font-size: 0.83025em;
	font-family: "OGOFEL+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_205 {
	font-size: 0.840213em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_206 {
	letter-spacing: -0.005em;
}

.ie .stl_206 {
	letter-spacing: -0.0672px;
}
.stl_207 {
	letter-spacing: 0.0029em;
}

.ie .stl_207 {
	letter-spacing: 0.0387px;
}
.stl_208 {
	font-size: 0.816136em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_209 {
	font-size: 0.841874em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_210 {
	font-size: 0.836062em;
	font-family: "OGOFEL+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_211 {
	letter-spacing: -0.125em;
}

.ie .stl_211 {
	letter-spacing: -1.6273px;
}
.stl_212 {
	letter-spacing: 0.0024em;
}

.ie .stl_212 {
	letter-spacing: 0.0312px;
}
.stl_213 {
	font-size: 0.82942em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_214 {
	letter-spacing: -0.122em;
}

.ie .stl_214 {
	letter-spacing: -1.6206px;
}
.stl_215 {
	font-size: 0.82859em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_216 {
	font-size: 0.831911em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_217 {
	font-size: 0.838553em;
	font-family: "OGOFEL+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_218 {
	font-size: 0.827759em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_219 {
	letter-spacing: -0.007em;
}

.ie .stl_219 {
	letter-spacing: -0.0949px;
}
.stl_220 {
	font-size: 0.822778em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_221 {
	letter-spacing: -0.0038em;
}

.ie .stl_221 {
	letter-spacing: -0.0519px;
}
.stl_222 {
	font-size: 0.82942em;
	font-family: "OGOFEL+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_223 {
	letter-spacing: -0.0087em;
}

.ie .stl_223 {
	letter-spacing: -0.1161px;
}
.stl_224 {
	font-size: 0.819457em;
	font-family: "OGOFEL+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_225 {
	letter-spacing: -0.0106em;
}

.ie .stl_225 {
	letter-spacing: -0.1404px;
}
.stl_226 {
	letter-spacing: -0.0043em;
}

.ie .stl_226 {
	letter-spacing: -0.0569px;
}
.stl_227 {
	font-size: 0.834401em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_228 {
	letter-spacing: -0.0134em;
}

.ie .stl_228 {
	letter-spacing: -0.178px;
}
.stl_229 {
	letter-spacing: 0.0014em;
}

.ie .stl_229 {
	letter-spacing: 0.0186px;
}
.stl_230 {
	letter-spacing: -0.0117em;
}

.ie .stl_230 {
	letter-spacing: -0.1523px;
}
.stl_231 {
	font-size: 0.820287em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_232 {
	letter-spacing: -0.0116em;
}

.ie .stl_232 {
	letter-spacing: -0.1529px;
}
.stl_233 {
	font-size: 0.846025em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_234 {
	letter-spacing: -0.0113em;
}

.ie .stl_234 {
	letter-spacing: -0.153px;
}
.stl_235 {
	letter-spacing: -0.003em;
}

.ie .stl_235 {
	letter-spacing: -0.0399px;
}
.stl_236 {
	letter-spacing: -0.0032em;
}

.ie .stl_236 {
	letter-spacing: -0.0437px;
}
.stl_237 {
	font-size: 0.826099em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_238 {
	font-size: 0.668152em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_239 {
	font-size: 0.652876em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_240 {
	font-size: 0.650883em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_241 {
	font-size: 0.657525em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_242 {
	font-size: 0.657525em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_243 {
	font-size: 0.67745em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_244 {
	letter-spacing: -0.0124em;
}

.ie .stl_244 {
	letter-spacing: -0.1344px;
}
.stl_245 {
	font-size: 0.655533em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_246 {
	font-size: 0.655533em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_247 {
	letter-spacing: 0.0025em;
}

.ie .stl_247 {
	letter-spacing: 0.0268px;
}
.stl_248 {
	font-size: 0.676786em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_249 {
	letter-spacing: -0.0031em;
}

.ie .stl_249 {
	letter-spacing: -0.0331px;
}
.stl_250 {
	letter-spacing: -0.0062em;
}

.ie .stl_250 {
	letter-spacing: -0.0661px;
}
.stl_251 {
	font-size: 0.654868em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_252 {
	letter-spacing: -0.0068em;
}

.ie .stl_252 {
	letter-spacing: -0.0714px;
}
.stl_253 {
	font-size: 0.666159em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_254 {
	font-size: 0.656861em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_255 {
	font-size: 0.656197em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_256 {
	font-size: 0.656197em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_257 {
	font-size: 0.652212em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_258 {
	font-size: 0.654868em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_259 {
	letter-spacing: -0.029em;
}

.ie .stl_259 {
	letter-spacing: -0.3143px;
}
.stl_260 {
	letter-spacing: 0.002em;
}

.ie .stl_260 {
	letter-spacing: 0.0209px;
}
.stl_261 {
	font-size: 0.671473em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_262 {
	font-size: 0.660182em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_263 {
	font-size: 0.658189em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_264 {
	font-size: 0.658189em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_265 {
	font-size: 0.675458em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_266 {
	font-size: 0.663503em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_267 {
	letter-spacing: -0.0197em;
}

.ie .stl_267 {
	letter-spacing: -0.209px;
}
.stl_268 {
	letter-spacing: 0.003em;
}

.ie .stl_268 {
	letter-spacing: 0.0319px;
}
.stl_269 {
	font-size: 0.671473em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_270 {
	letter-spacing: -0.0147em;
}

.ie .stl_270 {
	letter-spacing: -0.1567px;
}
.stl_271 {
	font-size: 0.662174em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_272 {
	font-size: 0.651548em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_273 {
	font-size: 0.651548em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_274 {
	letter-spacing: -0.0096em;
}

.ie .stl_274 {
	letter-spacing: -0.1005px;
}
.stl_275 {
	font-size: 0.65354em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_276 {
	letter-spacing: 0.0016em;
}

.ie .stl_276 {
	letter-spacing: 0.0163px;
}
.stl_277 {
	letter-spacing: -0.0054em;
}

.ie .stl_277 {
	letter-spacing: -0.0584px;
}
.stl_278 {
	font-size: 0.674129em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_279 {
	font-size: 0.666823em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_280 {
	letter-spacing: -0.0057em;
}

.ie .stl_280 {
	letter-spacing: -0.0617px;
}
.stl_281 {
	letter-spacing: 0.0023em;
}

.ie .stl_281 {
	letter-spacing: 0.0243px;
}
.stl_282 {
	font-size: 0.672801em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_283 {
	font-size: 0.672801em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_284 {
	letter-spacing: 0.0018em;
}

.ie .stl_284 {
	letter-spacing: 0.0191px;
}
.stl_285 {
	letter-spacing: -0.0039em;
}

.ie .stl_285 {
	letter-spacing: -0.0419px;
}
.stl_286 {
	font-size: 0.673465em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_287 {
	font-size: 0.673465em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_288 {
	font-size: 0.664831em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_289 {
	letter-spacing: -0.012em;
}

.ie .stl_289 {
	letter-spacing: -0.1276px;
}
.stl_290 {
	letter-spacing: -0.0063em;
}

.ie .stl_290 {
	letter-spacing: -0.068px;
}
.stl_291 {
	letter-spacing: -0.0072em;
}

.ie .stl_291 {
	letter-spacing: -0.0786px;
}
.stl_292 {
	letter-spacing: 0.0139em;
}

.ie .stl_292 {
	letter-spacing: 0.1476px;
}
.stl_293 {
	letter-spacing: -0.008em;
}

.ie .stl_293 {
	letter-spacing: -0.0864px;
}
.stl_294 {
	font-size: 0.672137em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_295 {
	font-size: 0.672137em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_296 {
	font-size: 0.65354em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_297 {
	font-size: 0.652876em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_298 {
	font-size: 0.667487em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_299 {
	font-size: 0.659518em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_300 {
	letter-spacing: 0.0118em;
}

.ie .stl_300 {
	letter-spacing: 0.1249px;
}
.stl_301 {
	font-size: 0.670808em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_302 {
	font-size: 0.662838em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_303 {
	font-size: 0.659518em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_304 {
	letter-spacing: -0.0123em;
}

.ie .stl_304 {
	letter-spacing: -0.1326px;
}
.stl_305 {
	font-size: 0.658853em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_306 {
	font-size: 0.668816em;
	font-family: "VFIDJC+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_307 {
	letter-spacing: -0.0089em;
}

.ie .stl_307 {
	letter-spacing: -0.0949px;
}
.stl_308 {
	font-size: 0.663503em;
	font-family: "TLCPPG+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_309 {
	letter-spacing: -0.0074em;
}

.ie .stl_309 {
	letter-spacing: -0.0799px;
}
.stl_310 {
	letter-spacing: 0.0055em;
}

.ie .stl_310 {
	letter-spacing: 0.0588px;
}
.stl_311 {
	letter-spacing: 0.0047em;
}

.ie .stl_311 {
	letter-spacing: 0.0497px;
}
.stl_312 {
	letter-spacing: 0.0067em;
}

.ie .stl_312 {
	letter-spacing: 0.0714px;
}
.stl_313 {
	letter-spacing: -0.0041em;
}

.ie .stl_313 {
	letter-spacing: -0.0443px;
}
.stl_314 {
	letter-spacing: -0.0066em;
}

.ie .stl_314 {
	letter-spacing: -0.0715px;
}
.stl_315 {
	letter-spacing: 0.0104em;
}

.ie .stl_315 {
	letter-spacing: 0.111px;
}
