sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 51em;
}
.stl_06 {
	height: 6.6em;
}
.ie .stl_06 {
	height: 66em;
}
@font-face {
	font-family:"ATAHFO+CMR17";
	src:url("7098b1c9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.434617em;
	font-family: "ATAHFO+CMR17", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 0.911em;
}
.stl_09 {
	letter-spacing: -0.0015em;
}

.ie .stl_09 {
	letter-spacing: -0.0344px;
}
.stl_10 {
	letter-spacing: -0.0018em;
}

.ie .stl_10 {
	letter-spacing: -0.0424px;
}
@font-face {
	font-family:"NIDTGH+CMR12";
	src:url("ec49e880-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 0.996267em;
	font-family: "NIDTGH+CMR12", "Times New Roman";
	color: #000000;
}
.stl_12 {
	line-height: 0.909em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
.stl_14 {
	letter-spacing: -0.0028em;
}

.ie .stl_14 {
	letter-spacing: -0.0438px;
}
.stl_15 {
	letter-spacing: -0.0045em;
}

.ie .stl_15 {
	letter-spacing: -0.0717px;
}
@font-face {
	font-family:"IEJMQF+CMBX9";
	src:url("344212d4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.747198em;
	font-family: "IEJMQF+CMBX9", "Times New Roman";
	color: #000000;
}
.stl_17 {
	line-height: 0.706em;
}
.stl_18 {
	letter-spacing: -0.0011em;
}

.ie .stl_18 {
	letter-spacing: -0.0137px;
}
@font-face {
	font-family:"IOFJTM+CMR9";
	src:url("8e446472-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.747198em;
	font-family: "IOFJTM+CMR9", "Times New Roman";
	color: #000000;
}
.stl_20 {
	line-height: 0.999em;
}
.stl_21 {
	letter-spacing: -0.001em;
}

.ie .stl_21 {
	letter-spacing: -0.0115px;
}
.stl_22 {
	letter-spacing: -0.0009em;
}

.ie .stl_22 {
	letter-spacing: -0.0108px;
}
.stl_23 {
	letter-spacing: -0.0377em;
}

.ie .stl_23 {
	letter-spacing: -0.4503px;
}
.stl_24 {
	letter-spacing: -0.0016em;
}

.ie .stl_24 {
	letter-spacing: -0.0197px;
}
.stl_25 {
	letter-spacing: -0.0024em;
}

.ie .stl_25 {
	letter-spacing: -0.0282px;
}
.stl_26 {
	letter-spacing: 0.0017em;
}

.ie .stl_26 {
	letter-spacing: 0.0205px;
}
.stl_27 {
	letter-spacing: 0.0008em;
}

.ie .stl_27 {
	letter-spacing: 0.009px;
}
.stl_28 {
	letter-spacing: -0.0026em;
}

.ie .stl_28 {
	letter-spacing: -0.0307px;
}
.stl_29 {
	letter-spacing: -0.0066em;
}

.ie .stl_29 {
	letter-spacing: -0.0791px;
}
@font-face {
	font-family:"SASVCO+CMBX12";
	src:url("e1277b19-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 1.195517em;
	font-family: "SASVCO+CMBX12", "Times New Roman";
	color: #000000;
}
.stl_31 {
	line-height: 0.901em;
}
.stl_32 {
	letter-spacing: -0.0001em;
}

.ie .stl_32 {
	letter-spacing: -0.0017px;
}
@font-face {
	font-family:"OKANOH+CMTI10";
	src:url("2199313b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 0.83022em;
	font-family: "OKANOH+CMTI10", "Times New Roman";
	color: #000000;
}
.stl_34 {
	line-height: 1em;
}
.stl_35 {
	letter-spacing: -0.0017em;
}

.ie .stl_35 {
	letter-spacing: -0.0231px;
}
@font-face {
	font-family:"BGFMJT+CMR10";
	src:url("2fd085f9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 0.83022em;
	font-family: "BGFMJT+CMR10", "Times New Roman";
	color: #000000;
}
.stl_37 {
	letter-spacing: 0.002em;
}

.ie .stl_37 {
	letter-spacing: 0.0266px;
}
.stl_38 {
	letter-spacing: 0.0018em;
}

.ie .stl_38 {
	letter-spacing: 0.0242px;
}
.stl_39 {
	letter-spacing: -0.0034em;
}

.ie .stl_39 {
	letter-spacing: -0.0454px;
}
.stl_40 {
	letter-spacing: -0.0004em;
}

.ie .stl_40 {
	letter-spacing: -0.0048px;
}
.stl_41 {
	letter-spacing: 0.0007em;
}

.ie .stl_41 {
	letter-spacing: 0.0095px;
}
.stl_42 {
	letter-spacing: 0.0013em;
}

.ie .stl_42 {
	letter-spacing: 0.0172px;
}
.stl_43 {
	letter-spacing: 0.0002em;
}

.ie .stl_43 {
	letter-spacing: 0.0026px;
}
.stl_44 {
	letter-spacing: -0.004em;
}

.ie .stl_44 {
	letter-spacing: -0.0531px;
}
.stl_45 {
	letter-spacing: 0.0016em;
}

.ie .stl_45 {
	letter-spacing: 0.0219px;
}
.stl_46 {
	letter-spacing: 0.0006em;
}

.ie .stl_46 {
	letter-spacing: 0.0083px;
}
.stl_47 {
	letter-spacing: -0.0053em;
}

.ie .stl_47 {
	letter-spacing: -0.0705px;
}
.stl_48 {
	letter-spacing: -0.0003em;
}

.ie .stl_48 {
	letter-spacing: -0.0033px;
}
.stl_49 {
	letter-spacing: 0.0012em;
}

.ie .stl_49 {
	letter-spacing: 0.0154px;
}
.stl_50 {
	letter-spacing: 0.0001em;
}

.ie .stl_50 {
	letter-spacing: 0.002px;
}
.stl_51 {
	letter-spacing: -0.0002em;
}

.ie .stl_51 {
	letter-spacing: -0.0029px;
}
.stl_52 {
	letter-spacing: 0.0021em;
}

.ie .stl_52 {
	letter-spacing: 0.0273px;
}
.stl_53 {
	letter-spacing: -0.0012em;
}

.ie .stl_53 {
	letter-spacing: -0.0153px;
}
.stl_54 {
	letter-spacing: -0.006em;
}

.ie .stl_54 {
	letter-spacing: -0.0803px;
}
.stl_55 {
	letter-spacing: -0.0008em;
}

.ie .stl_55 {
	letter-spacing: -0.0103px;
}
.stl_56 {
	letter-spacing: 0.0009em;
}

.ie .stl_56 {
	letter-spacing: 0.0115px;
}
.stl_57 {
	letter-spacing: -0.0019em;
}

.ie .stl_57 {
	letter-spacing: -0.0251px;
}
.stl_58 {
	letter-spacing: -0.0051em;
}

.ie .stl_58 {
	letter-spacing: -0.0678px;
}
.stl_59 {
	letter-spacing: -0.0047em;
}

.ie .stl_59 {
	letter-spacing: -0.062px;
}
.stl_60 {
	letter-spacing: -0.0022em;
}

.ie .stl_60 {
	letter-spacing: -0.0294px;
}
.stl_61 {
	letter-spacing: -0.0033em;
}

.ie .stl_61 {
	letter-spacing: -0.0432px;
}
.stl_62 {
	letter-spacing: -0.0007em;
}

.ie .stl_62 {
	letter-spacing: -0.0095px;
}
.stl_63 {
	letter-spacing: -0.003em;
}

.ie .stl_63 {
	letter-spacing: -0.0394px;
}
.stl_64 {
	letter-spacing: -0.0063em;
}

.ie .stl_64 {
	letter-spacing: -0.0841px;
}
.stl_65 {
	letter-spacing: 0.0019em;
}

.ie .stl_65 {
	letter-spacing: 0.0251px;
}
.stl_66 {
	letter-spacing: -0.0021em;
}

.ie .stl_66 {
	letter-spacing: -0.0278px;
}
.stl_67 {
	letter-spacing: 0.0003em;
}

.ie .stl_67 {
	letter-spacing: 0.0035px;
}
.stl_68 {
	letter-spacing: -0.002em;
}

.ie .stl_68 {
	letter-spacing: -0.0266px;
}
.stl_69 {
	letter-spacing: -0.0006em;
}

.ie .stl_69 {
	letter-spacing: -0.0074px;
}
.stl_70 {
	letter-spacing: 0.0005em;
}

.ie .stl_70 {
	letter-spacing: 0.0063px;
}
.stl_71 {
	letter-spacing: 0.0023em;
}

.ie .stl_71 {
	letter-spacing: 0.0303px;
}
.stl_72 {
	letter-spacing: -0.0005em;
}

.ie .stl_72 {
	letter-spacing: -0.0068px;
}
.stl_73 {
	letter-spacing: 0.0043em;
}

.ie .stl_73 {
	letter-spacing: 0.0577px;
}
.stl_74 {
	letter-spacing: 0.001em;
}

.ie .stl_74 {
	letter-spacing: 0.0135px;
}
.stl_75 {
	letter-spacing: 0.0027em;
}

.ie .stl_75 {
	letter-spacing: 0.0363px;
}
.stl_76 {
	letter-spacing: 0.0051em;
}

.ie .stl_76 {
	letter-spacing: 0.0678px;
}
.stl_77 {
	letter-spacing: 0.0014em;
}

.ie .stl_77 {
	letter-spacing: 0.018px;
}
.stl_78 {
	letter-spacing: 0.0036em;
}

.ie .stl_78 {
	letter-spacing: 0.0472px;
}
.stl_79 {
	letter-spacing: 0.0015em;
}

.ie .stl_79 {
	letter-spacing: 0.0193px;
}
.stl_80 {
	letter-spacing: 0.0041em;
}

.ie .stl_80 {
	letter-spacing: 0.0544px;
}
.stl_81 {
	letter-spacing: 0.0022em;
}

.ie .stl_81 {
	letter-spacing: 0.0293px;
}
.stl_82 {
	letter-spacing: 0.0004em;
}

.ie .stl_82 {
	letter-spacing: 0.0076px;
}
.stl_83 {
	letter-spacing: -0.0032em;
}

.ie .stl_83 {
	letter-spacing: -0.043px;
}
.stl_84 {
	letter-spacing: -0.0023em;
}

.ie .stl_84 {
	letter-spacing: -0.0307px;
}
.stl_85 {
	letter-spacing: -0.0081em;
}

.ie .stl_85 {
	letter-spacing: -0.1082px;
}
.stl_86 {
	letter-spacing: 0.0025em;
}

.ie .stl_86 {
	letter-spacing: 0.0326px;
}
.stl_87 {
	letter-spacing: 0.0011em;
}

.ie .stl_87 {
	letter-spacing: 0.014px;
}
.stl_88 {
	letter-spacing: -0.0145em;
}

.ie .stl_88 {
	letter-spacing: -0.192px;
}
.stl_89 {
	letter-spacing: 0.005em;
}

.ie .stl_89 {
	letter-spacing: 0.0664px;
}
.stl_90 {
	letter-spacing: -0.0155em;
}

.ie .stl_90 {
	letter-spacing: -0.2054px;
}
.stl_91 {
	letter-spacing: -0.087em;
}

.ie .stl_91 {
	letter-spacing: -1.1557px;
}
.stl_92 {
	letter-spacing: 0.0058em;
}

.ie .stl_92 {
	letter-spacing: 0.0775px;
}
.stl_93 {
	letter-spacing: -0.0117em;
}

.ie .stl_93 {
	letter-spacing: -0.1554px;
}
.stl_94 {
	letter-spacing: -0.0284em;
}

.ie .stl_94 {
	letter-spacing: -0.3778px;
}
.stl_95 {
	letter-spacing: 0.0032em;
}

.ie .stl_95 {
	letter-spacing: 0.0429px;
}
.stl_96 {
	letter-spacing: -0.0031em;
}

.ie .stl_96 {
	letter-spacing: -0.0412px;
}
.stl_97 {
	letter-spacing: 0.0031em;
}

.ie .stl_97 {
	letter-spacing: 0.0416px;
}
.stl_98 {
	letter-spacing: 0.0035em;
}

.ie .stl_98 {
	letter-spacing: 0.0459px;
}
.stl_99 {
	letter-spacing: -0.0025em;
}

.ie .stl_99 {
	letter-spacing: -0.0329px;
}
.stl_100 {
	letter-spacing: 0.004em;
}

.ie .stl_100 {
	letter-spacing: 0.0765px;
}
.stl_101 {
	letter-spacing: 0.0024em;
}

.ie .stl_101 {
	letter-spacing: 0.0314px;
}
.stl_102 {
	letter-spacing: 0.0059em;
}

.ie .stl_102 {
	letter-spacing: 0.0782px;
}
.stl_103 {
	letter-spacing: -0.0178em;
}

.ie .stl_103 {
	letter-spacing: -0.2361px;
}
.stl_104 {
	letter-spacing: 0.003em;
}

.ie .stl_104 {
	letter-spacing: 0.0393px;
}
.stl_105 {
	letter-spacing: -0.0076em;
}

.ie .stl_105 {
	letter-spacing: -0.101px;
}
.stl_106 {
	letter-spacing: -0.0014em;
}

.ie .stl_106 {
	letter-spacing: -0.019px;
}
.stl_107 {
	letter-spacing: 0.0029em;
}

.ie .stl_107 {
	letter-spacing: 0.0391px;
}
.stl_108 {
	letter-spacing: 0.0034em;
}

.ie .stl_108 {
	letter-spacing: 0.0447px;
}
.stl_109 {
	letter-spacing: -0.0061em;
}

.ie .stl_109 {
	letter-spacing: -0.0814px;
}
.stl_110 {
	letter-spacing: -0.0027em;
}

.ie .stl_110 {
	letter-spacing: -0.0356px;
}
.stl_111 {
	letter-spacing: 0.0056em;
}

.ie .stl_111 {
	letter-spacing: 0.0747px;
}
.stl_112 {
	letter-spacing: -0.04em;
}

.ie .stl_112 {
	letter-spacing: -0.5314px;
}
.stl_113 {
	letter-spacing: -0.0039em;
}

.ie .stl_113 {
	letter-spacing: -0.0525px;
}
.stl_114 {
	letter-spacing: -0.0084em;
}

.ie .stl_114 {
	letter-spacing: -0.1121px;
}
.stl_115 {
	letter-spacing: -0.0109em;
}

.ie .stl_115 {
	letter-spacing: -0.1445px;
}
.stl_116 {
	letter-spacing: -0.0108em;
}

.ie .stl_116 {
	letter-spacing: -0.143px;
}
.stl_117 {
	letter-spacing: -0.0113em;
}

.ie .stl_117 {
	letter-spacing: -0.1507px;
}
.stl_118 {
	letter-spacing: 0.0039em;
}

.ie .stl_118 {
	letter-spacing: 0.0516px;
}
.stl_119 {
	letter-spacing: -0.531em;
}

.ie .stl_119 {
	letter-spacing: -7.0535px;
}
.stl_120 {
	letter-spacing: -0.0049em;
}

.ie .stl_120 {
	letter-spacing: -0.0649px;
}
.stl_121 {
	letter-spacing: 0.0026em;
}

.ie .stl_121 {
	letter-spacing: 0.0342px;
}
.stl_122 {
	letter-spacing: 0.0045em;
}

.ie .stl_122 {
	letter-spacing: 0.0594px;
}
.stl_123 {
	letter-spacing: 0.0044em;
}

.ie .stl_123 {
	letter-spacing: 0.0584px;
}
.stl_124 {
	letter-spacing: -0.0035em;
}

.ie .stl_124 {
	letter-spacing: -0.0468px;
}
.stl_125 {
	letter-spacing: -0.005em;
}

.ie .stl_125 {
	letter-spacing: -0.0664px;
}
.stl_126 {
	letter-spacing: -0.0153em;
}

.ie .stl_126 {
	letter-spacing: -0.2037px;
}
.stl_127 {
	letter-spacing: -0.0103em;
}

.ie .stl_127 {
	letter-spacing: -0.1373px;
}
