sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 51em;
}
.stl_06 {
	height: 6.6em;
}
.ie .stl_06 {
	height: 66em;
}
@font-face {
	font-family:"MWFHJU+LinuxBiolinum";
	src:url("db687cc7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.833333em;
	font-family: "MWFHJU+LinuxBiolinum";
	color: #000000;
}
.stl_08 {
	line-height: 1.140137em;
}
.stl_09 {
	letter-spacing: 0.0002em;
}

.ie .stl_09 {
	letter-spacing: 0.0029px;
}
@font-face {
	font-family:"MQTQIJ+LinBiolinumTB";
	src:url("08802d35-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1.721917em;
	font-family: "MQTQIJ+LinBiolinumTB", "Times New Roman";
	color: #000000;
}
.stl_11 {
	line-height: 1.29em;
}
.stl_12 {
	letter-spacing: 0em;
}

.ie .stl_12 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"FCPLND+LinLibertineTB";
	src:url("55497982-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 0.83025em;
	font-family: "FCPLND+LinLibertineTB", "Times New Roman";
	color: #000000;
}
.stl_14 {
	line-height: 1.342em;
}
.stl_15 {
	letter-spacing: 0.0008em;
}

.ie .stl_15 {
	letter-spacing: 0.0103px;
}
@font-face {
	font-family:"QQAWLJ+LinLibertineT";
	src:url("619e4afc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.83025em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_17 {
	line-height: 1.382em;
}
.stl_18 {
	letter-spacing: -0.0005em;
}

.ie .stl_18 {
	letter-spacing: -0.0071px;
}
.stl_19 {
	letter-spacing: -0.0142em;
}

.ie .stl_19 {
	letter-spacing: -0.1884px;
}
.stl_20 {
	letter-spacing: 0.0004em;
}

.ie .stl_20 {
	letter-spacing: 0.0058px;
}
.stl_21 {
	letter-spacing: -0.0009em;
}

.ie .stl_21 {
	letter-spacing: -0.0118px;
}
.stl_22 {
	letter-spacing: -0.0071em;
}

.ie .stl_22 {
	letter-spacing: -0.0942px;
}
.stl_23 {
	letter-spacing: -0.0004em;
}

.ie .stl_23 {
	letter-spacing: -0.0051px;
}
.stl_24 {
	letter-spacing: 0.0005em;
}

.ie .stl_24 {
	letter-spacing: 0.0062px;
}
.stl_25 {
	letter-spacing: -0.0062em;
}

.ie .stl_25 {
	letter-spacing: -0.0827px;
}
.stl_26 {
	font-size: 0.83025em;
	font-family: "MQTQIJ+LinBiolinumTB", "Times New Roman";
	color: #000000;
}
.stl_27 {
	letter-spacing: -0.0049em;
}

.ie .stl_27 {
	letter-spacing: -0.0645px;
}
.stl_28 {
	letter-spacing: -0.0014em;
}

.ie .stl_28 {
	letter-spacing: -0.019px;
}
.stl_29 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9803922);
	-o-transform: scale(1,0.9803922);
	-ms-transform: matrix(1,0,0,0.9803922,0,-0);
	-moz-transform: scale(1,0.9803922);
	-webkit-transform: scale(1,0.9803922);
}
.stl_30 {
	font-size: 0.846855em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_31 {
	letter-spacing: -0.0012em;
}

.ie .stl_31 {
	letter-spacing: -0.0156px;
}
.stl_32 {
	letter-spacing: -0.0023em;
}

.ie .stl_32 {
	letter-spacing: -0.031px;
}
.stl_33 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.020408);
	-o-transform: scale(1,1.020408);
	-ms-transform: matrix(1,0,0,1.020408,0,-0);
	-moz-transform: scale(1,1.020408);
	-webkit-transform: scale(1,1.020408);
}
.stl_34 {
	font-size: 0.813645em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_35 {
	letter-spacing: -0.0002em;
}

.ie .stl_35 {
	letter-spacing: -0.0021px;
}
.stl_36 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.006036);
	-o-transform: scale(1,1.006036);
	-ms-transform: matrix(1,0,0,1.006036,0,-0);
	-moz-transform: scale(1,1.006036);
	-webkit-transform: scale(1,1.006036);
}
.stl_37 {
	font-size: 0.825269em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_38 {
	letter-spacing: -0.0006em;
}

.ie .stl_38 {
	letter-spacing: -0.0077px;
}
.stl_39 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.013171);
	-o-transform: scale(1,1.013171);
	-ms-transform: matrix(1,0,0,1.013171,0,-0);
	-moz-transform: scale(1,1.013171);
	-webkit-transform: scale(1,1.013171);
}
.stl_40 {
	font-size: 0.819457em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_41 {
	letter-spacing: -0.0001em;
}

.ie .stl_41 {
	letter-spacing: -0.001px;
}
.stl_42 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.011122);
	-o-transform: scale(1,1.011122);
	-ms-transform: matrix(1,0,0,1.011122,0,-0);
	-moz-transform: scale(1,1.011122);
	-webkit-transform: scale(1,1.011122);
}
.stl_43 {
	font-size: 0.821117em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_44 {
	letter-spacing: -0.0022em;
}

.ie .stl_44 {
	letter-spacing: -0.0298px;
}
.stl_45 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.996016);
	-o-transform: scale(1,0.996016);
	-ms-transform: matrix(1,0,0,0.996016,0,-0);
	-moz-transform: scale(1,0.996016);
	-webkit-transform: scale(1,0.996016);
}
.stl_46 {
	font-size: 0.833571em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_47 {
	letter-spacing: 0.0001em;
}

.ie .stl_47 {
	letter-spacing: 0.0013px;
}
.stl_48 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.017294);
	-o-transform: scale(1,1.017294);
	-ms-transform: matrix(1,0,0,1.017294,0,-0);
	-moz-transform: scale(1,1.017294);
	-webkit-transform: scale(1,1.017294);
}
.stl_49 {
	font-size: 0.816136em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_50 {
	letter-spacing: -0.0003em;
}

.ie .stl_50 {
	letter-spacing: -0.0033px;
}
.stl_51 {
	letter-spacing: -0.0018em;
}

.ie .stl_51 {
	letter-spacing: -0.0249px;
}
.stl_52 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.01626);
	-o-transform: scale(1,1.01626);
	-ms-transform: matrix(1,0,0,1.01626,0,-0);
	-moz-transform: scale(1,1.01626);
	-webkit-transform: scale(1,1.01626);
}
.stl_53 {
	font-size: 0.816966em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_54 {
	letter-spacing: -0.002em;
}

.ie .stl_54 {
	letter-spacing: -0.0268px;
}
.stl_55 {
	font-size: 0.747167em;
	font-family: "FCPLND+LinLibertineTB", "Times New Roman";
	color: #000000;
}
.stl_56 {
	letter-spacing: -0.0026em;
}

.ie .stl_56 {
	letter-spacing: -0.0306px;
}
.stl_57 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.008065);
	-o-transform: scale(1,1.008065);
	-ms-transform: matrix(1,0,0,1.008065,0,-0);
	-moz-transform: scale(1,1.008065);
	-webkit-transform: scale(1,1.008065);
}
.stl_58 {
	font-size: 0.741189em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_59 {
	font-size: 0.732223em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_60 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.005025);
	-o-transform: scale(1,1.005025);
	-ms-transform: matrix(1,0,0,1.005025,0,-0);
	-moz-transform: scale(1,1.005025);
	-webkit-transform: scale(1,1.005025);
}
.stl_61 {
	font-size: 0.743431em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"MLSPVB+LinLibertineTI";
	src:url("c2ef2c6c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_62 {
	font-size: 0.732223em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_63 {
	line-height: 1.205em;
}
.stl_64 {
	font-size: 0.76211em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_65 {
	font-size: 0.76211em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_66 {
	letter-spacing: -0.008em;
}

.ie .stl_66 {
	letter-spacing: -0.0976px;
}
.stl_67 {
	font-size: 0.747167em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_68 {
	letter-spacing: -0.0059em;
}

.ie .stl_68 {
	letter-spacing: -0.0709px;
}
.stl_69 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.019368);
	-o-transform: scale(1,1.019368);
	-ms-transform: matrix(1,0,0,1.019368,0,-0);
	-moz-transform: scale(1,1.019368);
	-webkit-transform: scale(1,1.019368);
}
.stl_70 {
	font-size: 0.814475em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_71 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.001001);
	-o-transform: scale(1,1.001001);
	-ms-transform: matrix(1,0,0,1.001001,0,-0);
	-moz-transform: scale(1,1.001001);
	-webkit-transform: scale(1,1.001001);
}
.stl_72 {
	font-size: 0.82942em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_73 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9920635);
	-o-transform: scale(1,0.9920635);
	-ms-transform: matrix(1,0,0,0.9920635,0,-0);
	-moz-transform: scale(1,0.9920635);
	-webkit-transform: scale(1,0.9920635);
}
.stl_74 {
	font-size: 0.836892em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_75 {
	letter-spacing: 0.0003em;
}

.ie .stl_75 {
	letter-spacing: 0.0045px;
}
.stl_76 {
	letter-spacing: -0.0011em;
}

.ie .stl_76 {
	letter-spacing: -0.0146px;
}
.stl_77 {
	font-size: 0.826929em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_78 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.004016);
	-o-transform: scale(1,1.004016);
	-ms-transform: matrix(1,0,0,1.004016,0,-0);
	-moz-transform: scale(1,1.004016);
	-webkit-transform: scale(1,1.004016);
}
.stl_79 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.01833);
	-o-transform: scale(1,1.01833);
	-ms-transform: matrix(1,0,0,1.01833,0,-0);
	-moz-transform: scale(1,1.01833);
	-webkit-transform: scale(1,1.01833);
}
.stl_80 {
	font-size: 0.815306em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"DLKMSG+LinLibertineT";
	src:url("fcf4aba0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_81 {
	font-size: 0.83025em;
	font-family: "DLKMSG+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_82 {
	font-size: 0.83108em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_83 {
	font-size: 0.83108em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_84 {
	letter-spacing: 0.0021em;
}

.ie .stl_84 {
	letter-spacing: 0.0277px;
}
.stl_85 {
	letter-spacing: 0.0006em;
}

.ie .stl_85 {
	letter-spacing: 0.0077px;
}
.stl_86 {
	font-size: 0.83025em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_87 {
	font-size: 0.67745em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_88 {
	letter-spacing: -0.0008em;
}

.ie .stl_88 {
	letter-spacing: -0.0091px;
}
.stl_89 {
	font-size: 0.650883em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_90 {
	font-size: 0.664167em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_91 {
	letter-spacing: 0.0015em;
}

.ie .stl_91 {
	letter-spacing: 0.0155px;
}
.stl_92 {
	font-size: 0.664167em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_93 {
	letter-spacing: -0.0007em;
}

.ie .stl_93 {
	letter-spacing: -0.0095px;
}
.stl_94 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9910803);
	-o-transform: scale(1,0.9910803);
	-ms-transform: matrix(1,0,0,0.9910803,0,-0);
	-moz-transform: scale(1,0.9910803);
	-webkit-transform: scale(1,0.9910803);
}
.stl_95 {
	font-size: 0.837722em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_96 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9852217);
	-o-transform: scale(1,0.9852217);
	-ms-transform: matrix(1,0,0,0.9852217,0,-0);
	-moz-transform: scale(1,0.9852217);
	-webkit-transform: scale(1,0.9852217);
}
.stl_97 {
	font-size: 0.842704em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_98 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9891196);
	-o-transform: scale(1,0.9891196);
	-ms-transform: matrix(1,0,0,0.9891196,0,-0);
	-moz-transform: scale(1,0.9891196);
	-webkit-transform: scale(1,0.9891196);
}
.stl_99 {
	font-size: 0.839383em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_100 {
	font-size: 0.664167em;
	font-family: "DLKMSG+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_101 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.999001);
	-o-transform: scale(1,0.999001);
	-ms-transform: matrix(1,0,0,0.999001,0,-0);
	-moz-transform: scale(1,0.999001);
	-webkit-transform: scale(1,0.999001);
}
.stl_102 {
	font-size: 0.664831em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_103 {
	letter-spacing: -0.0085em;
}

.ie .stl_103 {
	letter-spacing: -0.0903px;
}
.stl_104 {
	letter-spacing: 0.125em;
}

.ie .stl_104 {
	letter-spacing: 1.3284px;
}
.stl_105 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9842519);
	-o-transform: scale(1,0.9842519);
	-ms-transform: matrix(1,0,0,0.9842519,0,-0);
	-moz-transform: scale(1,0.9842519);
	-webkit-transform: scale(1,0.9842519);
}
.stl_106 {
	font-size: 0.843534em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_107 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.014199);
	-o-transform: scale(1,1.014199);
	-ms-transform: matrix(1,0,0,1.014199,0,-0);
	-moz-transform: scale(1,1.014199);
	-webkit-transform: scale(1,1.014199);
}
.stl_108 {
	font-size: 0.818627em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"EDKJKF+LinBiolinumTI";
	src:url("45ca4c11-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_109 {
	font-size: 0.813645em;
	font-family: "EDKJKF+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_110 {
	line-height: 1.143em;
}
.stl_111 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010101);
	-o-transform: scale(1,1.010101);
	-ms-transform: matrix(1,0,0,1.010101,0,-0);
	-moz-transform: scale(1,1.010101);
	-webkit-transform: scale(1,1.010101);
}
.stl_112 {
	font-size: 0.821948em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_113 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.002004);
	-o-transform: scale(1,1.002004);
	-ms-transform: matrix(1,0,0,1.002004,0,-0);
	-moz-transform: scale(1,1.002004);
	-webkit-transform: scale(1,1.002004);
}
.stl_114 {
	font-size: 0.82859em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_115 {
	letter-spacing: -0.0016em;
}

.ie .stl_115 {
	letter-spacing: -0.0215px;
}
.stl_116 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.015228);
	-o-transform: scale(1,1.015228);
	-ms-transform: matrix(1,0,0,1.015228,0,-0);
	-moz-transform: scale(1,1.015228);
	-webkit-transform: scale(1,1.015228);
}
.stl_117 {
	font-size: 0.817796em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_118 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.998004);
	-o-transform: scale(1,0.998004);
	-ms-transform: matrix(1,0,0,0.998004,0,-0);
	-moz-transform: scale(1,0.998004);
	-webkit-transform: scale(1,0.998004);
}
.stl_119 {
	font-size: 0.831911em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_120 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9871668);
	-o-transform: scale(1,0.9871668);
	-ms-transform: matrix(1,0,0,0.9871668,0,-0);
	-moz-transform: scale(1,0.9871668);
	-webkit-transform: scale(1,0.9871668);
}
.stl_121 {
	font-size: 0.841043em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_122 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.003009);
	-o-transform: scale(1,1.003009);
	-ms-transform: matrix(1,0,0,1.003009,0,-0);
	-moz-transform: scale(1,1.003009);
	-webkit-transform: scale(1,1.003009);
}
.stl_123 {
	font-size: 0.827759em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_124 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.009082);
	-o-transform: scale(1,1.009082);
	-ms-transform: matrix(1,0,0,1.009082,0,-0);
	-moz-transform: scale(1,1.009082);
	-webkit-transform: scale(1,1.009082);
}
.stl_125 {
	font-size: 0.822778em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_126 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.007049);
	-o-transform: scale(1,1.007049);
	-ms-transform: matrix(1,0,0,1.007049,0,-0);
	-moz-transform: scale(1,1.007049);
	-webkit-transform: scale(1,1.007049);
}
.stl_127 {
	font-size: 0.824438em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_128 {
	letter-spacing: 0.0009em;
}

.ie .stl_128 {
	letter-spacing: 0.0113px;
}
.stl_129 {
	letter-spacing: -0.0015em;
}

.ie .stl_129 {
	letter-spacing: -0.0189px;
}
.stl_130 {
	letter-spacing: -0.0017em;
}

.ie .stl_130 {
	letter-spacing: -0.0228px;
}
.stl_131 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9813542);
	-o-transform: scale(1,0.9813542);
	-ms-transform: matrix(1,0,0,0.9813542,0,-0);
	-moz-transform: scale(1,0.9813542);
	-webkit-transform: scale(1,0.9813542);
}
.stl_132 {
	font-size: 0.846025em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_133 {
	letter-spacing: 0.0007em;
}

.ie .stl_133 {
	letter-spacing: 0.0095px;
}
.stl_134 {
	letter-spacing: -0.0108em;
}

.ie .stl_134 {
	letter-spacing: -0.1432px;
}
.stl_135 {
	font-size: 0.839383em;
	font-family: "EDKJKF+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_136 {
	font-size: 0.823608em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_137 {
	letter-spacing: -0.0019em;
}

.ie .stl_137 {
	letter-spacing: -0.0247px;
}
.stl_138 {
	letter-spacing: -0.001em;
}

.ie .stl_138 {
	letter-spacing: -0.0135px;
}
.stl_139 {
	letter-spacing: 0.0012em;
}

.ie .stl_139 {
	letter-spacing: 0.0168px;
}
.stl_140 {
	letter-spacing: -0.0047em;
}

.ie .stl_140 {
	letter-spacing: -0.061px;
}
.stl_141 {
	letter-spacing: -0.0037em;
}

.ie .stl_141 {
	letter-spacing: -0.0488px;
}
.stl_142 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9861932);
	-o-transform: scale(1,0.9861932);
	-ms-transform: matrix(1,0,0,0.9861932,0,-0);
	-moz-transform: scale(1,0.9861932);
	-webkit-transform: scale(1,0.9861932);
}
.stl_143 {
	font-size: 0.841874em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_144 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9881423);
	-o-transform: scale(1,0.9881423);
	-ms-transform: matrix(1,0,0,0.9881423,0,-0);
	-moz-transform: scale(1,0.9881423);
	-webkit-transform: scale(1,0.9881423);
}
.stl_145 {
	font-size: 0.840213em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_146 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9930487);
	-o-transform: scale(1,0.9930487);
	-ms-transform: matrix(1,0,0,0.9930487,0,-0);
	-moz-transform: scale(1,0.9930487);
	-webkit-transform: scale(1,0.9930487);
}
.stl_147 {
	font-size: 0.836062em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_148 {
	letter-spacing: -0.0021em;
}

.ie .stl_148 {
	letter-spacing: -0.029px;
}
.stl_149 {
	font-size: 0.827759em;
	font-family: "EDKJKF+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_150 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9823183);
	-o-transform: scale(1,0.9823183);
	-ms-transform: matrix(1,0,0,0.9823183,0,-0);
	-moz-transform: scale(1,0.9823183);
	-webkit-transform: scale(1,0.9823183);
}
.stl_151 {
	font-size: 0.845195em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_152 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9940357);
	-o-transform: scale(1,0.9940357);
	-ms-transform: matrix(1,0,0,0.9940357,0,-0);
	-moz-transform: scale(1,0.9940357);
	-webkit-transform: scale(1,0.9940357);
}
.stl_153 {
	font-size: 0.835232em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_154 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9832842);
	-o-transform: scale(1,0.9832842);
	-ms-transform: matrix(1,0,0,0.9832842,0,-0);
	-moz-transform: scale(1,0.9832842);
	-webkit-transform: scale(1,0.9832842);
}
.stl_155 {
	font-size: 0.844364em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_156 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.012146);
	-o-transform: scale(1,1.012146);
	-ms-transform: matrix(1,0,0,1.012146,0,-0);
	-moz-transform: scale(1,1.012146);
	-webkit-transform: scale(1,1.012146);
}
.stl_157 {
	font-size: 0.820287em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_158 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.990099);
	-o-transform: scale(1,0.990099);
	-ms-transform: matrix(1,0,0,0.990099,0,-0);
	-moz-transform: scale(1,0.990099);
	-webkit-transform: scale(1,0.990099);
}
.stl_159 {
	font-size: 0.838553em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_160 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.997009);
	-o-transform: scale(1,0.997009);
	-ms-transform: matrix(1,0,0,0.997009,0,-0);
	-moz-transform: scale(1,0.997009);
	-webkit-transform: scale(1,0.997009);
}
.stl_161 {
	font-size: 0.832741em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_162 {
	letter-spacing: -0.0013em;
}

.ie .stl_162 {
	letter-spacing: -0.0174px;
}
.stl_163 {
	letter-spacing: -0.0074em;
}

.ie .stl_163 {
	letter-spacing: -0.0957px;
}
.stl_164 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9950249);
	-o-transform: scale(1,0.9950249);
	-ms-transform: matrix(1,0,0,0.9950249,0,-0);
	-moz-transform: scale(1,0.9950249);
	-webkit-transform: scale(1,0.9950249);
}
.stl_165 {
	font-size: 0.834401em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_166 {
	letter-spacing: -0.003em;
}

.ie .stl_166 {
	letter-spacing: -0.0398px;
}
.stl_167 {
	letter-spacing: -0.0033em;
}

.ie .stl_167 {
	letter-spacing: -0.0434px;
}
.stl_168 {
	letter-spacing: -0.0024em;
}

.ie .stl_168 {
	letter-spacing: -0.0322px;
}
.stl_169 {
	letter-spacing: -0.0027em;
}

.ie .stl_169 {
	letter-spacing: -0.036px;
}
.stl_170 {
	font-size: 0.846855em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_171 {
	font-size: 0.7273em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_172 {
	letter-spacing: -0.0038em;
}

.ie .stl_172 {
	letter-spacing: -0.0512px;
}
.stl_173 {
	font-size: 0.826099em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_174 {
	letter-spacing: -0.0035em;
}

.ie .stl_174 {
	letter-spacing: -0.0472px;
}
.stl_175 {
	letter-spacing: -0.112em;
}

.ie .stl_175 {
	letter-spacing: -1.4878px;
}
.stl_176 {
	letter-spacing: -0.0202em;
}

.ie .stl_176 {
	letter-spacing: -0.2679px;
}
.stl_177 {
	letter-spacing: -0.0025em;
}

.ie .stl_177 {
	letter-spacing: -0.0328px;
}
.stl_178 {
	font-size: 0.841874em;
	font-family: "EDKJKF+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_179 {
	letter-spacing: -0.039em;
}

.ie .stl_179 {
	letter-spacing: -0.5285px;
}
.stl_180 {
	font-size: 0.822778em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_181 {
	font-size: 0.813645em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_182 {
	font-size: 0.823608em;
	font-family: "EDKJKF+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_183 {
	font-size: 0.814475em;
	font-family: "EDKJKF+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_184 {
	font-size: 0.835232em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_185 {
	letter-spacing: -0.119em;
}

.ie .stl_185 {
	letter-spacing: -1.6124px;
}
.stl_186 {
	font-size: 0.818627em;
	font-family: "EDKJKF+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_187 {
	letter-spacing: -0.122em;
}

.ie .stl_187 {
	letter-spacing: -1.6206px;
}
.stl_188 {
	letter-spacing: -0.004em;
}

.ie .stl_188 {
	letter-spacing: -0.0518px;
}
.stl_189 {
	letter-spacing: 0.0059em;
}

.ie .stl_189 {
	letter-spacing: 0.0797px;
}
.stl_190 {
	font-size: 0.846855em;
	font-family: "EDKJKF+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_191 {
	letter-spacing: -0.0042em;
}

.ie .stl_191 {
	letter-spacing: -0.0565px;
}
.stl_192 {
	font-size: 0.82942em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_193 {
	font-size: 0.841874em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_194 {
	font-size: 0.817796em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_195 {
	letter-spacing: -0.123em;
}

.ie .stl_195 {
	letter-spacing: -1.6013px;
}
.stl_196 {
	font-size: 0.841043em;
	font-family: "EDKJKF+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_197 {
	font-size: 0.836062em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_198 {
	letter-spacing: -0.121em;
}

.ie .stl_198 {
	letter-spacing: -1.6186px;
}
.stl_199 {
	font-size: 0.819457em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_200 {
	font-size: 0.821948em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_201 {
	letter-spacing: -0.011em;
}

.ie .stl_201 {
	letter-spacing: -0.1432px;
}
.stl_202 {
	letter-spacing: 0.123em;
}

.ie .stl_202 {
	letter-spacing: 1.6666px;
}
.stl_203 {
	letter-spacing: 0.121em;
}

.ie .stl_203 {
	letter-spacing: 1.6395px;
}
.stl_204 {
	letter-spacing: 0.006em;
}

.ie .stl_204 {
	letter-spacing: 0.0813px;
}
.stl_205 {
	letter-spacing: 0.0017em;
}

.ie .stl_205 {
	letter-spacing: 0.0226px;
}
.stl_206 {
	font-size: 0.82859em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_207 {
	letter-spacing: 0.001em;
}

.ie .stl_207 {
	letter-spacing: 0.0135px;
}
.stl_208 {
	font-size: 0.823608em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_209 {
	letter-spacing: -0.0036em;
}

.ie .stl_209 {
	letter-spacing: -0.0468px;
}
.stl_210 {
	font-size: 0.826929em;
	font-family: "EDKJKF+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_211 {
	font-size: 0.816136em;
	font-family: "EDKJKF+LinBiolinumTI", "Times New Roman";
	color: #000000;
}
.stl_212 {
	letter-spacing: -0.0028em;
}

.ie .stl_212 {
	letter-spacing: -0.0368px;
}
.stl_213 {
	font-size: 0.65354em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_214 {
	font-size: 0.674129em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_215 {
	font-size: 0.674129em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_216 {
	font-size: 0.662174em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_217 {
	font-size: 0.662174em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_218 {
	font-size: 0.670144em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_219 {
	font-size: 0.673465em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_220 {
	letter-spacing: 0.0018em;
}

.ie .stl_220 {
	letter-spacing: 0.0198px;
}
.stl_221 {
	font-size: 0.673465em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_222 {
	letter-spacing: -0.0029em;
}

.ie .stl_222 {
	letter-spacing: -0.0309px;
}
.stl_223 {
	font-size: 0.668816em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_224 {
	font-size: 0.650883em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_225 {
	font-size: 0.67745em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_226 {
	letter-spacing: -0.016em;
}

.ie .stl_226 {
	letter-spacing: -0.1734px;
}
.stl_227 {
	font-size: 0.659518em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_228 {
	font-size: 0.659518em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_229 {
	letter-spacing: -0.0048em;
}

.ie .stl_229 {
	letter-spacing: -0.0524px;
}
.stl_230 {
	font-size: 0.656861em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_231 {
	font-size: 0.656861em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_232 {
	font-size: 0.674793em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_233 {
	letter-spacing: -0.0082em;
}

.ie .stl_233 {
	letter-spacing: -0.085px;
}
.stl_234 {
	letter-spacing: -0.0119em;
}

.ie .stl_234 {
	letter-spacing: -0.124px;
}
.stl_235 {
	font-size: 0.665495em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_236 {
	font-size: 0.662838em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_237 {
	font-size: 0.662838em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_238 {
	font-size: 0.672801em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_239 {
	font-size: 0.656197em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_240 {
	font-size: 0.672801em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_241 {
	letter-spacing: -0.0034em;
}

.ie .stl_241 {
	letter-spacing: -0.0363px;
}
.stl_242 {
	letter-spacing: -0.0067em;
}

.ie .stl_242 {
	letter-spacing: -0.0732px;
}
.stl_243 {
	letter-spacing: 0.0013em;
}

.ie .stl_243 {
	letter-spacing: 0.0138px;
}
.stl_244 {
	font-size: 0.658189em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_245 {
	letter-spacing: -0.0046em;
}

.ie .stl_245 {
	letter-spacing: -0.0481px;
}
.stl_246 {
	font-size: 0.658189em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_247 {
	letter-spacing: -0.0043em;
}

.ie .stl_247 {
	letter-spacing: -0.0465px;
}
.stl_248 {
	letter-spacing: -0.0058em;
}

.ie .stl_248 {
	letter-spacing: -0.0629px;
}
.stl_249 {
	letter-spacing: 0.0033em;
}

.ie .stl_249 {
	letter-spacing: 0.0347px;
}
.stl_250 {
	font-size: 0.655533em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_251 {
	font-size: 0.668152em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_252 {
	font-size: 0.668152em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_253 {
	font-size: 0.651548em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_254 {
	font-size: 0.651548em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_255 {
	font-size: 0.654868em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_256 {
	letter-spacing: -0.0045em;
}

.ie .stl_256 {
	letter-spacing: -0.0468px;
}
.stl_257 {
	font-size: 0.671473em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_258 {
	font-size: 0.671473em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_259 {
	letter-spacing: -0.0066em;
}

.ie .stl_259 {
	letter-spacing: -0.0708px;
}
.stl_260 {
	font-size: 0.666823em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_261 {
	font-size: 0.656197em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_262 {
	font-size: 0.66948em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_263 {
	font-size: 0.66948em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_264 {
	font-size: 0.658853em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_265 {
	font-size: 0.660182em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_266 {
	letter-spacing: -0.0116em;
}

.ie .stl_266 {
	letter-spacing: -0.1214px;
}
.stl_267 {
	font-size: 0.655533em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_268 {
	letter-spacing: -0.0072em;
}

.ie .stl_268 {
	letter-spacing: -0.0763px;
}
.stl_269 {
	letter-spacing: -0.0039em;
}

.ie .stl_269 {
	letter-spacing: -0.0426px;
}
.stl_270 {
	font-size: 0.668816em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_271 {
	letter-spacing: -0.006em;
}

.ie .stl_271 {
	letter-spacing: -0.0628px;
}
.stl_272 {
	font-size: 0.652876em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_273 {
	font-size: 0.652876em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_274 {
	letter-spacing: -0.0073em;
}

.ie .stl_274 {
	letter-spacing: -0.0761px;
}
.stl_275 {
	font-size: 0.654204em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_276 {
	font-size: 0.654204em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_277 {
	font-size: 0.660182em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_278 {
	letter-spacing: -0.0091em;
}

.ie .stl_278 {
	letter-spacing: -0.0943px;
}
.stl_279 {
	font-size: 0.674793em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_280 {
	font-size: 0.670808em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_281 {
	font-size: 0.670808em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_282 {
	letter-spacing: 0.0016em;
}

.ie .stl_282 {
	letter-spacing: 0.0165px;
}
.stl_283 {
	letter-spacing: -0.0057em;
}

.ie .stl_283 {
	letter-spacing: -0.0618px;
}
.stl_284 {
	font-size: 0.663503em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_285 {
	font-size: 0.663503em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_286 {
	letter-spacing: 0.0019em;
}

.ie .stl_286 {
	letter-spacing: 0.0197px;
}
.stl_287 {
	font-size: 0.652212em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_288 {
	font-size: 0.652212em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_289 {
	letter-spacing: 0.01em;
}

.ie .stl_289 {
	letter-spacing: 0.1063px;
}
.stl_290 {
	font-size: 0.676786em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_291 {
	font-size: 0.658853em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_292 {
	letter-spacing: -0.0032em;
}

.ie .stl_292 {
	letter-spacing: -0.0339px;
}
.stl_293 {
	letter-spacing: -0.0083em;
}

.ie .stl_293 {
	letter-spacing: -0.0888px;
}
.stl_294 {
	letter-spacing: 0.0036em;
}

.ie .stl_294 {
	letter-spacing: 0.0383px;
}
.stl_295 {
	font-size: 0.654868em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_296 {
	letter-spacing: 0.0024em;
}

.ie .stl_296 {
	letter-spacing: 0.0254px;
}
.stl_297 {
	letter-spacing: 0.0049em;
}

.ie .stl_297 {
	letter-spacing: 0.0523px;
}
.stl_298 {
	letter-spacing: -0.0153em;
}

.ie .stl_298 {
	letter-spacing: -0.1619px;
}
.stl_299 {
	font-size: 0.676122em;
	font-family: "QQAWLJ+LinLibertineT", "Times New Roman";
	color: #000000;
}
.stl_300 {
	font-size: 0.676122em;
	font-family: "MLSPVB+LinLibertineTI", "Times New Roman";
	color: #000000;
}
.stl_301 {
	letter-spacing: -0.0031em;
}

.ie .stl_301 {
	letter-spacing: -0.0331px;
}
.stl_302 {
	letter-spacing: -0.0069em;
}

.ie .stl_302 {
	letter-spacing: -0.0747px;
}
