sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 51em;
}
.stl_06 {
	height: 6.6em;
}
.ie .stl_06 {
	height: 66em;
}
@font-face {
	font-family:"LSWNQQ+CMR12";
	src:url("9aaea185-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.195517em;
	font-family: "LSWNQQ+CMR12", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1.001em;
}
.stl_09 {
	letter-spacing: 0.0006em;
}

.ie .stl_09 {
	letter-spacing: 0.0115px;
}
@font-face {
	font-family:"RSNPBC+CMR10";
	src:url("6e112079-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.830217em;
	font-family: "RSNPBC+CMR10", "Times New Roman";
	color: #000000;
}
.stl_11 {
	line-height: 1em;
}
.stl_12 {
	letter-spacing: -0.0064em;
}

.ie .stl_12 {
	letter-spacing: -0.0848px;
}
@font-face {
	font-family:"GEWKAM+CMR7";
	src:url("52ec87c4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 0.69738em;
	font-family: "GEWKAM+CMR7", "Times New Roman";
	color: #000000;
}
.stl_14 {
	letter-spacing: 0.072em;
}

.ie .stl_14 {
	letter-spacing: 0.6692px;
}
.stl_15 {
	letter-spacing: 0.0005em;
}

.ie .stl_15 {
	letter-spacing: 0.0071px;
}
.stl_16 {
	letter-spacing: 0.0718em;
}

.ie .stl_16 {
	letter-spacing: 0.6679px;
}
.stl_17 {
	letter-spacing: 0.0725em;
}

.ie .stl_17 {
	letter-spacing: 0.674px;
}
@font-face {
	font-family:"LKGMSH+CMSY7";
	src:url("b8226fa7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.69738em;
	font-family: "LKGMSH+CMSY7", "Times New Roman";
	color: #000000;
}
.stl_19 {
	line-height: 1.733em;
}
.stl_20 {
	letter-spacing: -0.0711em;
}

.ie .stl_20 {
	letter-spacing: -0.6609px;
}
.stl_21 {
	letter-spacing: -0.0134em;
}

.ie .stl_21 {
	letter-spacing: -0.1777px;
}
.stl_22 {
	letter-spacing: 0.0004em;
}

.ie .stl_22 {
	letter-spacing: 0.0056px;
}
@font-face {
	font-family:"BRNNMQ+CMTI7";
	src:url("e23d0440-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.59776em;
	font-family: "BRNNMQ+CMTI7", "Times New Roman";
	color: #000000;
}
.stl_24 {
	letter-spacing: 0.0836em;
}

.ie .stl_24 {
	letter-spacing: 0.666px;
}
@font-face {
	font-family:"KLLSPN+CMTI8";
	src:url("ec2873e2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.664175em;
	font-family: "KLLSPN+CMTI8", "Times New Roman";
	color: #000000;
}
.stl_26 {
	letter-spacing: -0.003em;
}

.ie .stl_26 {
	letter-spacing: -0.0321px;
}
.stl_27 {
	letter-spacing: -0.0061em;
}

.ie .stl_27 {
	letter-spacing: -0.0651px;
}
.stl_28 {
	letter-spacing: 0.0837em;
}

.ie .stl_28 {
	letter-spacing: 0.6669px;
}
.stl_29 {
	letter-spacing: -0.011em;
}

.ie .stl_29 {
	letter-spacing: -0.1172px;
}
.stl_30 {
	letter-spacing: -0.01em;
}

.ie .stl_30 {
	letter-spacing: -0.1063px;
}
@font-face {
	font-family:"KWDDCA+CMBX10";
	src:url("ff213989-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.830217em;
	font-family: "KWDDCA+CMBX10", "Times New Roman";
	color: #000000;
}
.stl_32 {
	letter-spacing: 0.001em;
}

.ie .stl_32 {
	letter-spacing: 0.0132px;
}
.stl_33 {
	letter-spacing: -0.0003em;
}

.ie .stl_33 {
	letter-spacing: -0.0041px;
}
.stl_34 {
	letter-spacing: 0em;
}

.ie .stl_34 {
	letter-spacing: 0px;
}
.stl_35 {
	letter-spacing: -0.0046em;
}

.ie .stl_35 {
	letter-spacing: -0.0606px;
}
.stl_36 {
	letter-spacing: -0.0005em;
}

.ie .stl_36 {
	letter-spacing: -0.006px;
}
.stl_37 {
	letter-spacing: -0.0027em;
}

.ie .stl_37 {
	letter-spacing: -0.0353px;
}
.stl_38 {
	letter-spacing: -0.0018em;
}

.ie .stl_38 {
	letter-spacing: -0.0238px;
}
@font-face {
	font-family:"LNOOHB+CMTI10";
	src:url("24c342d7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 0.830217em;
	font-family: "LNOOHB+CMTI10", "Times New Roman";
	color: #000000;
}
.stl_40 {
	letter-spacing: 0.0007em;
}

.ie .stl_40 {
	letter-spacing: 0.0093px;
}
.stl_41 {
	letter-spacing: 0.0018em;
}

.ie .stl_41 {
	letter-spacing: 0.0239px;
}
.stl_42 {
	letter-spacing: 0.0003em;
}

.ie .stl_42 {
	letter-spacing: 0.0044px;
}
.stl_43 {
	letter-spacing: -0.0015em;
}

.ie .stl_43 {
	letter-spacing: -0.0193px;
}
.stl_44 {
	letter-spacing: -0.0002em;
}

.ie .stl_44 {
	letter-spacing: -0.0033px;
}
.stl_45 {
	letter-spacing: -0.0041em;
}

.ie .stl_45 {
	letter-spacing: -0.0551px;
}
.stl_46 {
	letter-spacing: -0.0008em;
}

.ie .stl_46 {
	letter-spacing: -0.01px;
}
.stl_47 {
	letter-spacing: -0.0011em;
}

.ie .stl_47 {
	letter-spacing: -0.0148px;
}
.stl_48 {
	letter-spacing: -0.0013em;
}

.ie .stl_48 {
	letter-spacing: -0.0171px;
}
.stl_49 {
	letter-spacing: -0.0016em;
}

.ie .stl_49 {
	letter-spacing: -0.0215px;
}
.stl_50 {
	letter-spacing: -0.0059em;
}

.ie .stl_50 {
	letter-spacing: -0.0785px;
}
.stl_51 {
	letter-spacing: 0.0016em;
}

.ie .stl_51 {
	letter-spacing: 0.0216px;
}
.stl_52 {
	letter-spacing: -0.0004em;
}

.ie .stl_52 {
	letter-spacing: -0.0052px;
}
@font-face {
	font-family:"KSIWSQ+SimSun";
	src:url("822e64bc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_53 {
	font-size: 0.666667em;
	font-family: "KSIWSQ+SimSun", "Times New Roman";
	color: #C0504D;
}
.stl_54 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999998);
	-o-transform: scale(1,0.9999998);
	-ms-transform: matrix(1,0,0,0.9999998,0,-0.7999998);
	-moz-transform: scale(1,0.9999998);
	-webkit-transform: scale(1,0.9999998);
}
@font-face {
	font-family:"IJDPTK+CMSY6";
	src:url("4849ff30-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_55 {
	font-size: 0.59776em;
	font-family: "IJDPTK+CMSY6", "Times New Roman";
	color: #000000;
}
.stl_56 {
	line-height: 1.734em;
}
.stl_57 {
	letter-spacing: 0.0842em;
}

.ie .stl_57 {
	letter-spacing: 0.6711px;
}
@font-face {
	font-family:"CUCFFM+CMR8";
	src:url("455c64ca-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_58 {
	font-size: 0.664175em;
	font-family: "CUCFFM+CMR8", "Times New Roman";
	color: #000000;
}
.stl_59 {
	letter-spacing: -0.0036em;
}

.ie .stl_59 {
	letter-spacing: -0.0378px;
}
@font-face {
	font-family:"GDTJPK+CMTT8";
	src:url("1f2dc80d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_60 {
	font-size: 0.664175em;
	font-family: "GDTJPK+CMTT8", "Times New Roman";
	color: #000000;
}
.stl_61 {
	line-height: 0.931em;
}
.stl_62 {
	letter-spacing: -0.0063em;
}

.ie .stl_62 {
	letter-spacing: -0.0673px;
}
.stl_63 {
	letter-spacing: 0.0002em;
}

.ie .stl_63 {
	letter-spacing: 0.0026px;
}
.stl_64 {
	letter-spacing: -0.0056em;
}

.ie .stl_64 {
	letter-spacing: -0.0594px;
}
@font-face {
	font-family:"KQOUMN+CMR6";
	src:url("36b27019-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_65 {
	font-size: 0.59776em;
	font-family: "KQOUMN+CMR6", "Times New Roman";
	color: #000000;
}
.stl_66 {
	letter-spacing: 0.0834em;
}

.ie .stl_66 {
	letter-spacing: 0.6649px;
}
.stl_67 {
	letter-spacing: 0.0009em;
}

.ie .stl_67 {
	letter-spacing: 0.0092px;
}
.stl_68 {
	letter-spacing: -0.0024em;
}

.ie .stl_68 {
	letter-spacing: -0.0259px;
}
.stl_69 {
	letter-spacing: -0.013em;
}

.ie .stl_69 {
	letter-spacing: -0.1386px;
}
.stl_70 {
	letter-spacing: -0.0028em;
}

.ie .stl_70 {
	letter-spacing: -0.0376px;
}
.stl_71 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999967);
	-o-transform: scale(1,0.9999967);
	-ms-transform: matrix(1,0,0,0.9999967,0,-0.8);
	-moz-transform: scale(1,0.9999967);
	-webkit-transform: scale(1,0.9999967);
}
@font-face {
	font-family:"BDDIVR+SimSun";
	src:url("fd4e76a5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_72 {
	font-size: 0.666667em;
	font-family: "BDDIVR+SimSun", "Times New Roman";
	color: #C0504D;
}
.stl_73 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999967);
	-o-transform: scale(1,0.9999967);
	-ms-transform: matrix(1,0,0,0.9999967,0,-0.7);
	-moz-transform: scale(1,0.9999967);
	-webkit-transform: scale(1,0.9999967);
}
.stl_74 {
	letter-spacing: -0.0001em;
}

.ie .stl_74 {
	letter-spacing: -0.0008px;
}
.stl_75 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999999);
	-o-transform: scale(1,0.9999999);
	-ms-transform: matrix(1,0,0,0.9999999,0,-0.8);
	-moz-transform: scale(1,0.9999999);
	-webkit-transform: scale(1,0.9999999);
}
.stl_76 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999999);
	-o-transform: scale(1,0.9999999);
	-ms-transform: matrix(1,0,0,0.9999999,0,-0.7);
	-moz-transform: scale(1,0.9999999);
	-webkit-transform: scale(1,0.9999999);
}
.stl_77 {
	letter-spacing: -0.0014em;
}

.ie .stl_77 {
	letter-spacing: -0.0182px;
}
.stl_78 {
	letter-spacing: -0.005em;
}

.ie .stl_78 {
	letter-spacing: -0.0663px;
}
.stl_79 {
	letter-spacing: -0.002em;
}

.ie .stl_79 {
	letter-spacing: -0.0264px;
}
.stl_80 {
	letter-spacing: -0.0048em;
}

.ie .stl_80 {
	letter-spacing: -0.0642px;
}
.stl_81 {
	letter-spacing: 0.0015em;
}

.ie .stl_81 {
	letter-spacing: 0.0194px;
}
.stl_82 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.999997);
	-o-transform: scale(1,0.999997);
	-ms-transform: matrix(1,0,0,0.999997,0,-0.8);
	-moz-transform: scale(1,0.999997);
	-webkit-transform: scale(1,0.999997);
}
.stl_83 {
	letter-spacing: -0.0021em;
}

.ie .stl_83 {
	letter-spacing: -0.0278px;
}
.stl_84 {
	letter-spacing: -0.0032em;
}

.ie .stl_84 {
	letter-spacing: -0.0428px;
}
.stl_85 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999977);
	-o-transform: scale(1,0.9999977);
	-ms-transform: matrix(1,0,0,0.9999977,0,-0.8);
	-moz-transform: scale(1,0.9999977);
	-webkit-transform: scale(1,0.9999977);
}
.stl_86 {
	letter-spacing: 0.0012em;
}

.ie .stl_86 {
	letter-spacing: 0.016px;
}
.stl_87 {
	letter-spacing: -0.0006em;
}

.ie .stl_87 {
	letter-spacing: -0.0081px;
}
.stl_88 {
	letter-spacing: -0.0023em;
}

.ie .stl_88 {
	letter-spacing: -0.0302px;
}
.stl_89 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: matrix(1,0,0,1,0,-0.8);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
}
.stl_90 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: matrix(1,0,0,1,0,-0.7);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
}
.stl_91 {
	letter-spacing: 0.0011em;
}

.ie .stl_91 {
	letter-spacing: 0.0141px;
}
.stl_92 {
	letter-spacing: -0.0007em;
}

.ie .stl_92 {
	letter-spacing: -0.0094px;
}
.stl_93 {
	letter-spacing: -0.001em;
}

.ie .stl_93 {
	letter-spacing: -0.0127px;
}
.stl_94 {
	letter-spacing: 0.0014em;
}

.ie .stl_94 {
	letter-spacing: 0.0191px;
}
.stl_95 {
	letter-spacing: -0.0095em;
}

.ie .stl_95 {
	letter-spacing: -0.1257px;
}
.stl_96 {
	letter-spacing: 0.0021em;
}

.ie .stl_96 {
	letter-spacing: 0.0274px;
}
.stl_97 {
	letter-spacing: -0.0017em;
}

.ie .stl_97 {
	letter-spacing: -0.0223px;
}
.stl_98 {
	letter-spacing: -0.0039em;
}

.ie .stl_98 {
	letter-spacing: -0.0517px;
}
.stl_99 {
	letter-spacing: -0.0025em;
}

.ie .stl_99 {
	letter-spacing: -0.0329px;
}
.stl_100 {
	letter-spacing: -0.0012em;
}

.ie .stl_100 {
	letter-spacing: -0.0155px;
}
.stl_101 {
	letter-spacing: -0.0022em;
}

.ie .stl_101 {
	letter-spacing: -0.0296px;
}
.stl_102 {
	letter-spacing: -0.0026em;
}

.ie .stl_102 {
	letter-spacing: -0.0343px;
}
.stl_103 {
	letter-spacing: -0.0051em;
}

.ie .stl_103 {
	letter-spacing: -0.0676px;
}
.stl_104 {
	letter-spacing: 0.0019em;
}

.ie .stl_104 {
	letter-spacing: 0.0249px;
}
.stl_105 {
	letter-spacing: -0.0045em;
}

.ie .stl_105 {
	letter-spacing: -0.0595px;
}
.stl_106 {
	letter-spacing: 0.0001em;
}

.ie .stl_106 {
	letter-spacing: 0.0013px;
}
.stl_107 {
	letter-spacing: 0.0008em;
}

.ie .stl_107 {
	letter-spacing: 0.0106px;
}
.stl_108 {
	letter-spacing: -0.5em;
}

.ie .stl_108 {
	letter-spacing: -6.6417px;
}
.stl_109 {
	letter-spacing: -0.4436em;
}

.ie .stl_109 {
	letter-spacing: -5.8925px;
}
.stl_110 {
	letter-spacing: 0.0056em;
}

.ie .stl_110 {
	letter-spacing: 0.0739px;
}
.stl_111 {
	letter-spacing: -0.0072em;
}

.ie .stl_111 {
	letter-spacing: -0.0952px;
}
.stl_112 {
	letter-spacing: -0.0089em;
}

.ie .stl_112 {
	letter-spacing: -0.1185px;
}
.stl_113 {
	letter-spacing: -0.007em;
}

.ie .stl_113 {
	letter-spacing: -0.0924px;
}
.stl_114 {
	letter-spacing: -0.0037em;
}

.ie .stl_114 {
	letter-spacing: -0.0497px;
}
.stl_115 {
	letter-spacing: -0.0009em;
}

.ie .stl_115 {
	letter-spacing: -0.0123px;
}
@font-face {
	font-family:"UQAKES+SimSun";
	src:url("ddff90eb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_116 {
	font-size: 0.666667em;
	font-family: "UQAKES+SimSun", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"RIFWAU+CMSY10";
	src:url("14b3dee0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_117 {
	font-size: 0.830217em;
	font-family: "RIFWAU+CMSY10", "Times New Roman";
	color: #000000;
}
.stl_118 {
	line-height: 1.735em;
}
@font-face {
	font-family:"LOVHHO+SimSun";
	src:url("45287c66-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_119 {
	font-size: 0.666667em;
	font-family: "LOVHHO+SimSun";
	color: #000000;
}
.stl_120 {
	letter-spacing: -0.0951em;
}

.ie .stl_120 {
	letter-spacing: -1.2633px;
}
.stl_121 {
	letter-spacing: -0.0088em;
}

.ie .stl_121 {
	letter-spacing: -0.117px;
}
.stl_122 {
	letter-spacing: -0.0057em;
}

.ie .stl_122 {
	letter-spacing: -0.0758px;
}
.stl_123 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: matrix(1,0,0,1,0,-0.8000002);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
}
@font-face {
	font-family:"EEMRUW+CMMI10";
	src:url("3dcef94e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_124 {
	font-size: 0.830217em;
	font-family: "EEMRUW+CMMI10", "Times New Roman";
	color: #000000;
}
.stl_125 {
	letter-spacing: 0.0578em;
}

.ie .stl_125 {
	letter-spacing: 0.7679px;
}
.stl_126 {
	letter-spacing: 0.0287em;
}

.ie .stl_126 {
	letter-spacing: 0.3812px;
}
.stl_127 {
	letter-spacing: -0.0069em;
}

.ie .stl_127 {
	letter-spacing: -0.0918px;
}
.stl_128 {
	letter-spacing: 0.079em;
}

.ie .stl_128 {
	letter-spacing: 1.0499px;
}
.stl_129 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999998);
	-o-transform: scale(1,0.9999998);
	-ms-transform: matrix(1,0,0,0.9999998,0,-0.8);
	-moz-transform: scale(1,0.9999998);
	-webkit-transform: scale(1,0.9999998);
}
.stl_130 {
	letter-spacing: -0.0114em;
}

.ie .stl_130 {
	letter-spacing: -0.1514px;
}
.stl_131 {
	letter-spacing: -0.0038em;
}

.ie .stl_131 {
	letter-spacing: -0.0499px;
}
.stl_132 {
	letter-spacing: -0.0097em;
}

.ie .stl_132 {
	letter-spacing: -0.1292px;
}
.stl_133 {
	letter-spacing: -0.0029em;
}

.ie .stl_133 {
	letter-spacing: -0.0383px;
}
.stl_134 {
	letter-spacing: -0.0954em;
}

.ie .stl_134 {
	letter-spacing: -1.2672px;
}
.stl_135 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: matrix(1,0,0,1,0,-0.7999999);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
}
.stl_136 {
	letter-spacing: 0.0024em;
}

.ie .stl_136 {
	letter-spacing: 0.0317px;
}
.stl_137 {
	letter-spacing: 0.0022em;
}

.ie .stl_137 {
	letter-spacing: 0.029px;
}
.stl_138 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999997);
	-o-transform: scale(1,0.9999997);
	-ms-transform: matrix(1,0,0,0.9999997,0,-0.8000002);
	-moz-transform: scale(1,0.9999997);
	-webkit-transform: scale(1,0.9999997);
}
.stl_139 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999997);
	-o-transform: scale(1,0.9999997);
	-ms-transform: matrix(1,0,0,0.9999997,0,-0.7);
	-moz-transform: scale(1,0.9999997);
	-webkit-transform: scale(1,0.9999997);
}
.stl_140 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.000001);
	-o-transform: scale(1,1.000001);
	-ms-transform: matrix(1,0,0,1.000001,0,-0.7999998);
	-moz-transform: scale(1,1.000001);
	-webkit-transform: scale(1,1.000001);
}
.stl_141 {
	letter-spacing: 0.0057em;
}

.ie .stl_141 {
	letter-spacing: 0.0751px;
}
.stl_142 {
	letter-spacing: -0.0019em;
}

.ie .stl_142 {
	letter-spacing: -0.0255px;
}
.stl_143 {
	letter-spacing: -0.0031em;
}

.ie .stl_143 {
	letter-spacing: -0.0417px;
}
.stl_144 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999998);
	-o-transform: scale(1,0.9999998);
	-ms-transform: matrix(1,0,0,0.9999998,0,-0.7);
	-moz-transform: scale(1,0.9999998);
	-webkit-transform: scale(1,0.9999998);
}
.stl_145 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: matrix(1,0,0,1,0,-0.7999997);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
}
.stl_146 {
	font-size: 0.666666em;
	font-family: "LOVHHO+SimSun";
	color: #000000;
}
.stl_147 {
	font-size: 0.666666em;
	font-family: "UQAKES+SimSun", "Times New Roman";
	color: #000000;
}
.stl_148 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999998);
	-o-transform: scale(1,0.9999998);
	-ms-transform: matrix(1,0,0,0.9999998,0,-0.8000002);
	-moz-transform: scale(1,0.9999998);
	-webkit-transform: scale(1,0.9999998);
}
.stl_149 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999997);
	-o-transform: scale(1,0.9999997);
	-ms-transform: matrix(1,0,0,0.9999997,0,-0.8);
	-moz-transform: scale(1,0.9999997);
	-webkit-transform: scale(1,0.9999997);
}
.stl_150 {
	letter-spacing: -0.0135em;
}

.ie .stl_150 {
	letter-spacing: -0.1797px;
}
.stl_151 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: matrix(1,0,0,1,0,-0.7999998);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
}
.stl_152 {
	letter-spacing: 0.0286em;
}

.ie .stl_152 {
	letter-spacing: 0.3799px;
}
.stl_153 {
	letter-spacing: -0.0033em;
}

.ie .stl_153 {
	letter-spacing: -0.0444px;
}
.stl_154 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999996);
	-o-transform: scale(1,0.9999996);
	-ms-transform: matrix(1,0,0,0.9999996,0,-0.8000002);
	-moz-transform: scale(1,0.9999996);
	-webkit-transform: scale(1,0.9999996);
}
.stl_155 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999996);
	-o-transform: scale(1,0.9999996);
	-ms-transform: matrix(1,0,0,0.9999996,0,-1.5);
	-moz-transform: scale(1,0.9999996);
	-webkit-transform: scale(1,0.9999996);
}
.stl_156 {
	letter-spacing: 0.0029em;
}

.ie .stl_156 {
	letter-spacing: 0.038px;
}
.stl_157 {
	letter-spacing: 0.0028em;
}

.ie .stl_157 {
	letter-spacing: 0.0377px;
}
.stl_158 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999996);
	-o-transform: scale(1,0.9999996);
	-ms-transform: matrix(1,0,0,0.9999996,0,-0.7);
	-moz-transform: scale(1,0.9999996);
	-webkit-transform: scale(1,0.9999996);
}
.stl_159 {
	letter-spacing: -0.095em;
}

.ie .stl_159 {
	letter-spacing: -1.2619px;
}
.stl_160 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.000001);
	-o-transform: scale(1,1.000001);
	-ms-transform: matrix(1,0,0,1.000001,0,-0.8);
	-moz-transform: scale(1,1.000001);
	-webkit-transform: scale(1,1.000001);
}
.stl_161 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.000001);
	-o-transform: scale(1,1.000001);
	-ms-transform: matrix(1,0,0,1.000001,0,-0.7);
	-moz-transform: scale(1,1.000001);
	-webkit-transform: scale(1,1.000001);
}
.stl_162 {
	letter-spacing: -0.0132em;
}

.ie .stl_162 {
	letter-spacing: -0.1756px;
}
.stl_163 {
	letter-spacing: -0.0054em;
}

.ie .stl_163 {
	letter-spacing: -0.0719px;
}
.stl_164 {
	letter-spacing: 0.0042em;
}

.ie .stl_164 {
	letter-spacing: 0.0562px;
}
.stl_165 {
	letter-spacing: 0.004em;
}

.ie .stl_165 {
	letter-spacing: 0.0536px;
}
.stl_166 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9999999);
	-o-transform: scale(1,0.9999999);
	-ms-transform: matrix(1,0,0,0.9999999,0,-0.8000001);
	-moz-transform: scale(1,0.9999999);
	-webkit-transform: scale(1,0.9999999);
}
.stl_167 {
	letter-spacing: -0.0098em;
}

.ie .stl_167 {
	letter-spacing: -0.1302px;
}
.stl_168 {
	letter-spacing: 0.0035em;
}

.ie .stl_168 {
	letter-spacing: 0.0466px;
}
.stl_169 {
	letter-spacing: -0.0052em;
}

.ie .stl_169 {
	letter-spacing: -0.0689px;
}
.stl_170 {
	letter-spacing: 0.003em;
}

.ie .stl_170 {
	letter-spacing: 0.0399px;
}
.stl_171 {
	letter-spacing: -0.0073em;
}

.ie .stl_171 {
	letter-spacing: -0.0975px;
}
.stl_172 {
	letter-spacing: 0.0025em;
}

.ie .stl_172 {
	letter-spacing: 0.0327px;
}
.stl_173 {
	letter-spacing: 0.0579em;
}

.ie .stl_173 {
	letter-spacing: 0.7692px;
}
.stl_174 {
	letter-spacing: -0.0042em;
}

.ie .stl_174 {
	letter-spacing: -0.056px;
}
.stl_175 {
	letter-spacing: 0.0032em;
}

.ie .stl_175 {
	letter-spacing: 0.0421px;
}
@font-face {
	font-family:"DURIBF+CMMI8";
	src:url("42f2b1c7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_176 {
	font-size: 0.664175em;
	font-family: "DURIBF+CMMI8", "Times New Roman";
	color: #000000;
}
.stl_177 {
	letter-spacing: -0.0043em;
}

.ie .stl_177 {
	letter-spacing: -0.0577px;
}
.stl_178 {
	letter-spacing: 0.0034em;
}

.ie .stl_178 {
	letter-spacing: 0.045px;
}
.stl_179 {
	letter-spacing: -0.0083em;
}

.ie .stl_179 {
	letter-spacing: -0.1107px;
}
.stl_180 {
	letter-spacing: -0.0167em;
}

.ie .stl_180 {
	letter-spacing: -0.2218px;
}
@font-face {
	font-family:"QWRCOP+CMR9";
	src:url("78ac71af-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_181 {
	font-size: 0.7472em;
	font-family: "QWRCOP+CMR9", "Times New Roman";
	color: #000000;
}
.stl_182 {
	font-size: 0.456619em;
	font-family: "KWDDCA+CMBX10", "Times New Roman";
	color: #000000;
}
.stl_183 {
	font-size: 0.456619em;
	font-family: "RSNPBC+CMR10", "Times New Roman";
	color: #000000;
}
.stl_184 {
	letter-spacing: -0.004em;
}

.ie .stl_184 {
	letter-spacing: -0.0538px;
}
.stl_185 {
	letter-spacing: 0.0076em;
}

.ie .stl_185 {
	letter-spacing: 0.101px;
}
@font-face {
	font-family:"NAQTIJ+CMBX9";
	src:url("0336438a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_186 {
	font-size: 0.3736em;
	font-family: "NAQTIJ+CMBX9", "Times New Roman";
	color: #000000;
}
.stl_187 {
	font-size: 0.415108em;
	font-family: "KWDDCA+CMBX10", "Times New Roman";
	color: #000000;
}
.stl_188 {
	letter-spacing: -0.0034em;
}

.ie .stl_188 {
	letter-spacing: -0.045px;
}
.stl_189 {
	letter-spacing: 0.0013em;
}

.ie .stl_189 {
	letter-spacing: 0.0177px;
}
.stl_190 {
	letter-spacing: -0.0081em;
}

.ie .stl_190 {
	letter-spacing: -0.1081px;
}
.stl_191 {
	letter-spacing: -0.0049em;
}

.ie .stl_191 {
	letter-spacing: -0.0653px;
}
.stl_192 {
	letter-spacing: -0.0075em;
}

.ie .stl_192 {
	letter-spacing: -0.1002px;
}
.stl_193 {
	letter-spacing: -0.0047em;
}

.ie .stl_193 {
	letter-spacing: -0.0626px;
}
.stl_194 {
	letter-spacing: -0.0065em;
}

.ie .stl_194 {
	letter-spacing: -0.0868px;
}
.stl_195 {
	letter-spacing: -0.096em;
}

.ie .stl_195 {
	letter-spacing: -0.7014px;
}
.stl_196 {
	letter-spacing: -0.0035em;
}

.ie .stl_196 {
	letter-spacing: -0.0466px;
}
.stl_197 {
	letter-spacing: -0.0959em;
}

.ie .stl_197 {
	letter-spacing: -1.2739px;
}
.stl_198 {
	letter-spacing: -0.0101em;
}

.ie .stl_198 {
	letter-spacing: -0.134px;
}
.stl_199 {
	letter-spacing: 0.0017em;
}

.ie .stl_199 {
	letter-spacing: 0.022px;
}
.stl_200 {
	letter-spacing: 0.0023em;
}

.ie .stl_200 {
	letter-spacing: 0.0312px;
}
.stl_201 {
	letter-spacing: 0.002em;
}

.ie .stl_201 {
	letter-spacing: 0.026px;
}
.stl_202 {
	letter-spacing: 0.0027em;
}

.ie .stl_202 {
	letter-spacing: 0.0356px;
}
.stl_203 {
	letter-spacing: -0.0193em;
}

.ie .stl_203 {
	letter-spacing: -0.2569px;
}
.stl_204 {
	letter-spacing: 0.0829em;
}

.ie .stl_204 {
	letter-spacing: 1.1017px;
}
.stl_205 {
	letter-spacing: 0.1356em;
}

.ie .stl_205 {
	letter-spacing: 1.8015px;
}
.stl_206 {
	letter-spacing: 0.0127em;
}

.ie .stl_206 {
	letter-spacing: 0.1691px;
}
.stl_207 {
	letter-spacing: 0.1357em;
}

.ie .stl_207 {
	letter-spacing: 1.803px;
}
.stl_208 {
	letter-spacing: -0.0044em;
}

.ie .stl_208 {
	letter-spacing: -0.0586px;
}
.stl_209 {
	letter-spacing: -0.4994em;
}

.ie .stl_209 {
	letter-spacing: -6.6338px;
}
.stl_210 {
	letter-spacing: 0.0031em;
}

.ie .stl_210 {
	letter-spacing: 0.0412px;
}
.stl_211 {
	letter-spacing: -0.4186em;
}

.ie .stl_211 {
	letter-spacing: -5.5605px;
}
.stl_212 {
	letter-spacing: -0.5828em;
}

.ie .stl_212 {
	letter-spacing: -7.7416px;
}
.stl_213 {
	letter-spacing: 0.1394em;
}

.ie .stl_213 {
	letter-spacing: 1.8517px;
}
.stl_214 {
	letter-spacing: 0.1082em;
}

.ie .stl_214 {
	letter-spacing: 1.4377px;
}
.stl_215 {
	letter-spacing: 0.0883em;
}

.ie .stl_215 {
	letter-spacing: 1.1724px;
}
.stl_216 {
	letter-spacing: 0.1078em;
}

.ie .stl_216 {
	letter-spacing: 1.4322px;
}
.stl_217 {
	letter-spacing: 0.0884em;
}

.ie .stl_217 {
	letter-spacing: 1.1736px;
}
.stl_218 {
	letter-spacing: -0.0119em;
}

.ie .stl_218 {
	letter-spacing: -0.1584px;
}
.stl_219 {
	letter-spacing: 0.0892em;
}

.ie .stl_219 {
	letter-spacing: 1.1848px;
}
.stl_220 {
	letter-spacing: -0.0159em;
}

.ie .stl_220 {
	letter-spacing: -0.2117px;
}
.stl_221 {
	letter-spacing: 0.0038em;
}

.ie .stl_221 {
	letter-spacing: 0.0507px;
}
.stl_222 {
	letter-spacing: -0.0195em;
}

.ie .stl_222 {
	letter-spacing: -0.259px;
}
.stl_223 {
	letter-spacing: 0.1085em;
}

.ie .stl_223 {
	letter-spacing: 1.4411px;
}
.stl_224 {
	letter-spacing: 0.1083em;
}

.ie .stl_224 {
	letter-spacing: 1.4386px;
}
.stl_225 {
	letter-spacing: -0.0254em;
}

.ie .stl_225 {
	letter-spacing: -0.3369px;
}
.stl_226 {
	letter-spacing: 0.1355em;
}

.ie .stl_226 {
	letter-spacing: 1.7998px;
}
.stl_227 {
	letter-spacing: 0.108em;
}

.ie .stl_227 {
	letter-spacing: 1.435px;
}
.stl_228 {
	letter-spacing: -0.0076em;
}

.ie .stl_228 {
	letter-spacing: -0.1006px;
}
.stl_229 {
	letter-spacing: -0.0071em;
}

.ie .stl_229 {
	letter-spacing: -0.0947px;
}
.stl_230 {
	letter-spacing: -0.0096em;
}

.ie .stl_230 {
	letter-spacing: -0.1278px;
}
