sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 51em;
}
.stl_06 {
	height: 6.6em;
}
.ie .stl_06 {
	height: 66em;
}
@font-face {
	font-family:"EUMWJJ+VpsyflUtopia-Regular";
	src:url("2278e2e5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.664167em;
	font-family: "EUMWJJ+VpsyflUtopia-Regular", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1.14em;
}
.stl_09 {
	letter-spacing: -0.0013em;
}

.ie .stl_09 {
	letter-spacing: -0.0139px;
}
.stl_10 {
	letter-spacing: -0.1em;
}

.ie .stl_10 {
	letter-spacing: -1.0627px;
}
.stl_11 {
	letter-spacing: -0.005em;
}

.ie .stl_11 {
	letter-spacing: -0.0531px;
}
.stl_12 {
	letter-spacing: -0.002em;
}

.ie .stl_12 {
	letter-spacing: -0.0208px;
}
@font-face {
	font-family:"KPQHKH+XbytqlDglrrkNimbusRomNo9L-Medi";
	src:url("64a7ca0d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1.1955em;
	font-family: "KPQHKH+XbytqlDglrrkNimbusRomNo9L-Medi", "Times New Roman";
	color: #000000;
}
.stl_14 {
	line-height: 0.898em;
}
.stl_15 {
	letter-spacing: -0.0036em;
}

.ie .stl_15 {
	letter-spacing: -0.0695px;
}
.stl_16 {
	letter-spacing: -0.0012em;
}

.ie .stl_16 {
	letter-spacing: -0.0239px;
}
.stl_17 {
	font-size: 0.99625em;
	font-family: "KPQHKH+XbytqlDglrrkNimbusRomNo9L-Medi", "Times New Roman";
	color: #000000;
}
.stl_18 {
	letter-spacing: -0.0018em;
}

.ie .stl_18 {
	letter-spacing: -0.0292px;
}
@font-face {
	font-family:"SIQRRD+KtshggMnfqtgNimbusRomNo9L-Regu";
	src:url("d84b286b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.99625em;
	font-family: "SIQRRD+KtshggMnfqtgNimbusRomNo9L-Regu", "Times New Roman";
	color: #000000;
}
.stl_20 {
	line-height: 0.906em;
}
.stl_21 {
	letter-spacing: -0.0028em;
}

.ie .stl_21 {
	letter-spacing: -0.0447px;
}
.stl_22 {
	letter-spacing: 0.0004em;
}

.ie .stl_22 {
	letter-spacing: 0.0064px;
}
@font-face {
	font-family:"UNFWNA+TqxnxfKgfpykCMSY10";
	src:url("27082401-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.99625em;
	font-family: "UNFWNA+TqxnxfKgfpykCMSY10", "Times New Roman";
	color: #000000;
}
.stl_24 {
	line-height: 1em;
}
.stl_25 {
	letter-spacing: 0.0019em;
}

.ie .stl_25 {
	letter-spacing: 0.03px;
}
.stl_26 {
	letter-spacing: 0.0014em;
}

.ie .stl_26 {
	letter-spacing: 0.0226px;
}
.stl_27 {
	letter-spacing: 0.0008em;
}

.ie .stl_27 {
	letter-spacing: 0.0127px;
}
.stl_28 {
	font-size: 0.83025em;
	font-family: "SIQRRD+KtshggMnfqtgNimbusRomNo9L-Regu", "Times New Roman";
	color: #000000;
}
.stl_29 {
	letter-spacing: 0em;
}

.ie .stl_29 {
	letter-spacing: 0px;
}
.stl_30 {
	letter-spacing: 0.0021em;
}

.ie .stl_30 {
	letter-spacing: 0.0278px;
}
.stl_31 {
	letter-spacing: -0.0007em;
}

.ie .stl_31 {
	letter-spacing: -0.0114px;
}
.stl_32 {
	letter-spacing: -0.0004em;
}

.ie .stl_32 {
	letter-spacing: -0.0055px;
}
.stl_33 {
	letter-spacing: 0.0011em;
}

.ie .stl_33 {
	letter-spacing: 0.0152px;
}
.stl_34 {
	letter-spacing: 0.0013em;
}

.ie .stl_34 {
	letter-spacing: 0.0177px;
}
.stl_35 {
	letter-spacing: 0.0018em;
}

.ie .stl_35 {
	letter-spacing: 0.0241px;
}
.stl_36 {
	letter-spacing: 0.0016em;
}

.ie .stl_36 {
	letter-spacing: 0.0207px;
}
.stl_37 {
	letter-spacing: 0.001em;
}

.ie .stl_37 {
	letter-spacing: 0.0136px;
}
.stl_38 {
	letter-spacing: 0.0012em;
}

.ie .stl_38 {
	letter-spacing: 0.0158px;
}
.stl_39 {
	letter-spacing: -0.0008em;
}

.ie .stl_39 {
	letter-spacing: -0.0102px;
}
.stl_40 {
	letter-spacing: 0.0022em;
}

.ie .stl_40 {
	letter-spacing: 0.0291px;
}
.stl_41 {
	letter-spacing: 0.005em;
}

.ie .stl_41 {
	letter-spacing: 0.0664px;
}
@font-face {
	font-family:"EQHHWW+RcggcsFwsgvtNimbusRomNo9L-ReguItal";
	src:url("e6626857-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_42 {
	font-size: 0.83025em;
	font-family: "EQHHWW+RcggcsFwsgvtNimbusRomNo9L-ReguItal", "Times New Roman";
	color: #000000;
}
.stl_43 {
	line-height: 0.892em;
}
.stl_44 {
	letter-spacing: 0.0005em;
}

.ie .stl_44 {
	letter-spacing: 0.0066px;
}
.stl_45 {
	letter-spacing: 0.0009em;
}

.ie .stl_45 {
	letter-spacing: 0.0115px;
}
.stl_46 {
	letter-spacing: 0.0024em;
}

.ie .stl_46 {
	letter-spacing: 0.0321px;
}
.stl_47 {
	letter-spacing: -0.0009em;
}

.ie .stl_47 {
	letter-spacing: -0.0117px;
}
.stl_48 {
	letter-spacing: 0.002em;
}

.ie .stl_48 {
	letter-spacing: 0.027px;
}
.stl_49 {
	letter-spacing: 0.0007em;
}

.ie .stl_49 {
	letter-spacing: 0.0096px;
}
.stl_50 {
	letter-spacing: 0.0015em;
}

.ie .stl_50 {
	letter-spacing: 0.0194px;
}
.stl_51 {
	letter-spacing: 0.0001em;
}

.ie .stl_51 {
	letter-spacing: 0.0016px;
}
.stl_52 {
	letter-spacing: 0.0023em;
}

.ie .stl_52 {
	letter-spacing: 0.0306px;
}
.stl_53 {
	letter-spacing: -0.0011em;
}

.ie .stl_53 {
	letter-spacing: -0.015px;
}
.stl_54 {
	letter-spacing: -0.0088em;
}

.ie .stl_54 {
	letter-spacing: -0.1169px;
}
.stl_55 {
	letter-spacing: 0.0031em;
}

.ie .stl_55 {
	letter-spacing: 0.0418px;
}
.stl_56 {
	letter-spacing: 0.0017em;
}

.ie .stl_56 {
	letter-spacing: 0.0232px;
}
.stl_57 {
	letter-spacing: -0.0006em;
}

.ie .stl_57 {
	letter-spacing: -0.0083px;
}
.stl_58 {
	letter-spacing: -0.0025em;
}

.ie .stl_58 {
	letter-spacing: -0.0406px;
}
.stl_59 {
	font-size: 0.6974em;
	font-family: "SIQRRD+KtshggMnfqtgNimbusRomNo9L-Regu", "Times New Roman";
	color: #000000;
}
.stl_60 {
	letter-spacing: 0.0002em;
}

.ie .stl_60 {
	letter-spacing: 0.0023px;
}
.stl_61 {
	letter-spacing: 0.0006em;
}

.ie .stl_61 {
	letter-spacing: 0.0074px;
}
.stl_62 {
	letter-spacing: 0.003em;
}

.ie .stl_62 {
	letter-spacing: 0.0398px;
}
.stl_63 {
	letter-spacing: -0.107em;
}

.ie .stl_63 {
	letter-spacing: -1.4214px;
}
.stl_64 {
	letter-spacing: -0.0105em;
}

.ie .stl_64 {
	letter-spacing: -0.1395px;
}
.stl_65 {
	letter-spacing: -0.0001em;
}

.ie .stl_65 {
	letter-spacing: -0.0017px;
}
.stl_66 {
	letter-spacing: -0.0002em;
}

.ie .stl_66 {
	letter-spacing: -0.0024px;
}
.stl_67 {
	letter-spacing: -0.0005em;
}

.ie .stl_67 {
	letter-spacing: -0.007px;
}
.stl_68 {
	letter-spacing: -0.0097em;
}

.ie .stl_68 {
	letter-spacing: -0.1284px;
}
.stl_69 {
	letter-spacing: 0.0026em;
}

.ie .stl_69 {
	letter-spacing: 0.0345px;
}
.stl_70 {
	letter-spacing: -0.0099em;
}

.ie .stl_70 {
	letter-spacing: -0.1312px;
}
.stl_71 {
	letter-spacing: 0.0025em;
}

.ie .stl_71 {
	letter-spacing: 0.0332px;
}
.stl_72 {
	font-size: 0.5978em;
	font-family: "SIQRRD+KtshggMnfqtgNimbusRomNo9L-Regu", "Times New Roman";
	color: #000000;
}
.stl_73 {
	letter-spacing: 0.0821em;
}

.ie .stl_73 {
	letter-spacing: 0.6547px;
}
.stl_74 {
	font-size: 0.747167em;
	font-family: "SIQRRD+KtshggMnfqtgNimbusRomNo9L-Regu", "Times New Roman";
	color: #000000;
}
.stl_75 {
	font-size: 0.747167em;
	font-family: "EUMWJJ+VpsyflUtopia-Regular", "Times New Roman";
	color: #000000;
}
.stl_76 {
	letter-spacing: -0.0003em;
}

.ie .stl_76 {
	letter-spacing: -0.0036px;
}
.stl_77 {
	letter-spacing: -0.0016em;
}

.ie .stl_77 {
	letter-spacing: -0.0189px;
}
.stl_78 {
	letter-spacing: -0.0119em;
}

.ie .stl_78 {
	letter-spacing: -0.1423px;
}
.stl_79 {
	letter-spacing: -0.004em;
}

.ie .stl_79 {
	letter-spacing: -0.0478px;
}
.stl_80 {
	letter-spacing: -0.0164em;
}

.ie .stl_80 {
	letter-spacing: -0.1961px;
}
.stl_81 {
	letter-spacing: -0.0045em;
}

.ie .stl_81 {
	letter-spacing: -0.0543px;
}
.stl_82 {
	letter-spacing: -0.0031em;
}

.ie .stl_82 {
	letter-spacing: -0.05px;
}
.stl_83 {
	letter-spacing: 0.0029em;
}

.ie .stl_83 {
	letter-spacing: 0.0379px;
}
.stl_84 {
	letter-spacing: 0.0033em;
}

.ie .stl_84 {
	letter-spacing: 0.0303px;
}
.stl_85 {
	letter-spacing: -0.0017em;
}

.ie .stl_85 {
	letter-spacing: -0.0225px;
}
.stl_86 {
	letter-spacing: -0.0015em;
}

.ie .stl_86 {
	letter-spacing: -0.0202px;
}
.stl_87 {
	letter-spacing: -0.0029em;
}

.ie .stl_87 {
	letter-spacing: -0.0387px;
}
.stl_88 {
	letter-spacing: -0.0042em;
}

.ie .stl_88 {
	letter-spacing: -0.0387px;
}
.stl_89 {
	letter-spacing: -0.0014em;
}

.ie .stl_89 {
	letter-spacing: -0.0184px;
}
.stl_90 {
	letter-spacing: 0.0027em;
}

.ie .stl_90 {
	letter-spacing: 0.0365px;
}
.stl_91 {
	letter-spacing: 0.0678em;
}

.ie .stl_91 {
	letter-spacing: 0.6307px;
}
.stl_92 {
	font-size: 0.83025em;
	font-family: "KPQHKH+XbytqlDglrrkNimbusRomNo9L-Medi", "Times New Roman";
	color: #000000;
}
.stl_93 {
	letter-spacing: -0.0019em;
}

.ie .stl_93 {
	letter-spacing: -0.0251px;
}
.stl_94 {
	letter-spacing: 0.0037em;
}

.ie .stl_94 {
	letter-spacing: 0.0487px;
}
.stl_95 {
	letter-spacing: -0.0022em;
}

.ie .stl_95 {
	letter-spacing: -0.0298px;
}
.stl_96 {
	letter-spacing: -0.0056em;
}

.ie .stl_96 {
	letter-spacing: -0.0744px;
}
.stl_97 {
	letter-spacing: 0.0034em;
}

.ie .stl_97 {
	letter-spacing: 0.0448px;
}
.stl_98 {
	letter-spacing: 0.0032em;
}

.ie .stl_98 {
	letter-spacing: 0.0419px;
}
.stl_99 {
	letter-spacing: 0.0028em;
}

.ie .stl_99 {
	letter-spacing: 0.0377px;
}
.stl_100 {
	letter-spacing: -0.0027em;
}

.ie .stl_100 {
	letter-spacing: -0.0362px;
}
.stl_101 {
	letter-spacing: -0.0072em;
}

.ie .stl_101 {
	letter-spacing: -0.0959px;
}
.stl_102 {
	letter-spacing: 0.004em;
}

.ie .stl_102 {
	letter-spacing: 0.0531px;
}
.stl_103 {
	letter-spacing: -0.0057em;
}

.ie .stl_103 {
	letter-spacing: -0.0761px;
}
.stl_104 {
	letter-spacing: -0.0048em;
}

.ie .stl_104 {
	letter-spacing: -0.0636px;
}
.stl_105 {
	letter-spacing: -0.0032em;
}

.ie .stl_105 {
	letter-spacing: -0.0387px;
}
.stl_106 {
	letter-spacing: -0.0046em;
}

.ie .stl_106 {
	letter-spacing: -0.0545px;
}
.stl_107 {
	letter-spacing: 0.0003em;
}

.ie .stl_107 {
	letter-spacing: 0.004px;
}
.stl_108 {
	font-size: 0.747167em;
	font-family: "EQHHWW+RcggcsFwsgvtNimbusRomNo9L-ReguItal", "Times New Roman";
	color: #000000;
}
.stl_109 {
	letter-spacing: -0.001em;
}

.ie .stl_109 {
	letter-spacing: -0.0119px;
}
.stl_110 {
	letter-spacing: -0.003em;
}

.ie .stl_110 {
	letter-spacing: -0.0359px;
}
.stl_111 {
	letter-spacing: -0.0038em;
}

.ie .stl_111 {
	letter-spacing: -0.0455px;
}
.stl_112 {
	font-size: 0.747167em;
	font-family: "KPQHKH+XbytqlDglrrkNimbusRomNo9L-Medi", "Times New Roman";
	color: #000000;
}
.stl_113 {
	letter-spacing: -0.0024em;
}

.ie .stl_113 {
	letter-spacing: -0.0282px;
}
.stl_114 {
	letter-spacing: -0.0033em;
}

.ie .stl_114 {
	letter-spacing: -0.0392px;
}
.stl_115 {
	letter-spacing: -0.0021em;
}

.ie .stl_115 {
	letter-spacing: -0.0252px;
}
.stl_116 {
	letter-spacing: -0.0043em;
}

.ie .stl_116 {
	letter-spacing: -0.052px;
}
.stl_117 {
	letter-spacing: -0.092em;
}

.ie .stl_117 {
	letter-spacing: -1.0998px;
}
.stl_118 {
	letter-spacing: -0.0034em;
}

.ie .stl_118 {
	letter-spacing: -0.0401px;
}
.stl_119 {
	letter-spacing: -0.0078em;
}

.ie .stl_119 {
	letter-spacing: -0.0932px;
}
.stl_120 {
	letter-spacing: -0.106em;
}

.ie .stl_120 {
	letter-spacing: -1.2672px;
}
.stl_121 {
	letter-spacing: -0.0026em;
}

.ie .stl_121 {
	letter-spacing: -0.031px;
}
.stl_122 {
	letter-spacing: 0.0035em;
}

.ie .stl_122 {
	letter-spacing: 0.0418px;
}
.stl_123 {
	letter-spacing: 0.0047em;
}

.ie .stl_123 {
	letter-spacing: 0.0557px;
}
.stl_124 {
	letter-spacing: -0.0053em;
}

.ie .stl_124 {
	letter-spacing: -0.0702px;
}
.stl_125 {
	letter-spacing: -0.0227em;
}

.ie .stl_125 {
	letter-spacing: -0.3011px;
}
.stl_126 {
	letter-spacing: -0.081em;
}

.ie .stl_126 {
	letter-spacing: -1.076px;
}
.stl_127 {
	letter-spacing: -0.0054em;
}

.ie .stl_127 {
	letter-spacing: -0.0721px;
}
.stl_128 {
	letter-spacing: -0.0049em;
}

.ie .stl_128 {
	letter-spacing: -0.0649px;
}
@font-face {
	font-family:"JWLUJI+QtmgjdDgfphdCMMI10";
	src:url("8208b8f4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_129 {
	font-size: 0.83025em;
	font-family: "JWLUJI+QtmgjdDgfphdCMMI10", "Times New Roman";
	color: #000000;
}
.stl_130 {
	line-height: 0.727em;
}
.stl_131 {
	font-size: 0.909083em;
	font-family: "KPQHKH+XbytqlDglrrkNimbusRomNo9L-Medi", "Times New Roman";
	color: #000000;
}
.stl_132 {
	letter-spacing: 0.0036em;
}

.ie .stl_132 {
	letter-spacing: 0.0475px;
}
@font-face {
	font-family:"QNHHAG+PflhswKlsshyCMMI7";
	src:url("60eeaa42-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_133 {
	font-size: 0.6974em;
	font-family: "QNHHAG+PflhswKlsshyCMMI7", "Times New Roman";
	color: #000000;
}
.stl_134 {
	line-height: 0.704em;
}
@font-face {
	font-family:"LPKATH+MmbcdqGbfjytCMR10";
	src:url("c9d75363-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_135 {
	font-size: 0.83025em;
	font-family: "LPKATH+MmbcdqGbfjytCMR10", "Times New Roman";
	color: #000000;
}
.stl_136 {
	letter-spacing: 0.0852em;
}

.ie .stl_136 {
	letter-spacing: 0.7923px;
}
.stl_137 {
	letter-spacing: 0.0596em;
}

.ie .stl_137 {
	letter-spacing: 0.7923px;
}
.stl_138 {
	letter-spacing: 0.14em;
}

.ie .stl_138 {
	letter-spacing: 1.8598px;
}
.stl_139 {
	letter-spacing: 0.0046em;
}

.ie .stl_139 {
	letter-spacing: 0.0612px;
}
@font-face {
	font-family:"GQTSGM+XgnggtJbxllpCMEX10";
	src:url("da4bc439-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_140 {
	font-size: 0.83025em;
	font-family: "GQTSGM+XgnggtJbxllpCMEX10", "Times New Roman";
	color: #000000;
}
.stl_141 {
	letter-spacing: -0.0071em;
}

.ie .stl_141 {
	letter-spacing: -0.0946px;
}
.stl_142 {
	letter-spacing: -0.0102em;
}

.ie .stl_142 {
	letter-spacing: -0.0946px;
}
.stl_143 {
	letter-spacing: 0.0985em;
}

.ie .stl_143 {
	letter-spacing: 0.9157px;
}
.stl_144 {
	letter-spacing: 0.0689em;
}

.ie .stl_144 {
	letter-spacing: 0.9157px;
}
.stl_145 {
	font-size: 0.581167em;
	font-family: "QNHHAG+PflhswKlsshyCMMI7", "Times New Roman";
	color: #000000;
}
.stl_146 {
	letter-spacing: 0.0124em;
}

.ie .stl_146 {
	letter-spacing: 0.1157px;
}
@font-face {
	font-family:"GBKWAT+GtbbldDxqghsCMR7";
	src:url("01e2acf4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_147 {
	font-size: 0.581167em;
	font-family: "GBKWAT+GtbbldDxqghsCMR7", "Times New Roman";
	color: #000000;
}
.stl_148 {
	line-height: 0.664em;
}
.stl_149 {
	letter-spacing: 0.068em;
}

.ie .stl_149 {
	letter-spacing: 0.6323px;
}
.stl_150 {
	letter-spacing: 0.0068em;
}

.ie .stl_150 {
	letter-spacing: 0.0629px;
}
.stl_151 {
	font-size: 0.6974em;
	font-family: "GBKWAT+GtbbldDxqghsCMR7", "Times New Roman";
	color: #000000;
}
.stl_152 {
	letter-spacing: 0.0677em;
}

.ie .stl_152 {
	letter-spacing: 0.6291px;
}
.stl_153 {
	letter-spacing: 0.0045em;
}

.ie .stl_153 {
	letter-spacing: 0.0598px;
}
.stl_154 {
	letter-spacing: -0.088em;
}

.ie .stl_154 {
	letter-spacing: -1.169px;
}
.stl_155 {
	letter-spacing: -0.0066em;
}

.ie .stl_155 {
	letter-spacing: -0.0877px;
}
.stl_156 {
	letter-spacing: 0.0048em;
}

.ie .stl_156 {
	letter-spacing: 0.0638px;
}
.stl_157 {
	letter-spacing: -0.039em;
}

.ie .stl_157 {
	letter-spacing: -0.4662px;
}
.stl_158 {
	letter-spacing: -0.037em;
}

.ie .stl_158 {
	letter-spacing: -0.4423px;
}
@font-face {
	font-family:"CAHCRP+LhglxmKxjxgwCMSY9";
	src:url("4ce61364-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_159 {
	font-size: 0.747167em;
	font-family: "CAHCRP+LhglxmKxjxgwCMSY9", "Times New Roman";
	color: #000000;
}
.stl_160 {
	line-height: 0.272em;
}
.stl_161 {
	letter-spacing: -0.0415em;
}

.ie .stl_161 {
	letter-spacing: -0.4961px;
}
@font-face {
	font-family:"TWSFCT+DsnfhrRdmlktCMMI9";
	src:url("c912ba86-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_162 {
	font-size: 0.747167em;
	font-family: "TWSFCT+DsnfhrRdmlktCMMI9", "Times New Roman";
	color: #000000;
}
.stl_163 {
	letter-spacing: 0.147em;
}

.ie .stl_163 {
	letter-spacing: 1.7573px;
}
.stl_164 {
	letter-spacing: 0.105em;
}

.ie .stl_164 {
	letter-spacing: 1.2552px;
}
.stl_165 {
	letter-spacing: -0.0037em;
}

.ie .stl_165 {
	letter-spacing: -0.0447px;
}
.stl_166 {
	letter-spacing: 0.0609em;
}

.ie .stl_166 {
	letter-spacing: 0.728px;
}
.stl_167 {
	letter-spacing: -0.0044em;
}

.ie .stl_167 {
	letter-spacing: -0.053px;
}
.stl_168 {
	letter-spacing: -0.0065em;
}

.ie .stl_168 {
	letter-spacing: -0.0863px;
}
.stl_169 {
	letter-spacing: 0.114em;
}

.ie .stl_169 {
	letter-spacing: 1.5144px;
}
.stl_170 {
	letter-spacing: 0.057em;
}

.ie .stl_170 {
	letter-spacing: 0.7565px;
}
.stl_171 {
	letter-spacing: -0.012em;
}

.ie .stl_171 {
	letter-spacing: -0.1594px;
}
.stl_172 {
	letter-spacing: -0.0177em;
}

.ie .stl_172 {
	letter-spacing: -0.2347px;
}
.stl_173 {
	letter-spacing: -0.0293em;
}

.ie .stl_173 {
	letter-spacing: -0.3507px;
}
.stl_174 {
	letter-spacing: 0.0698em;
}

.ie .stl_174 {
	letter-spacing: 0.9272px;
}
.stl_175 {
	letter-spacing: -0.0023em;
}

.ie .stl_175 {
	letter-spacing: -0.0301px;
}
.stl_176 {
	letter-spacing: -0.0039em;
}

.ie .stl_176 {
	letter-spacing: -0.0469px;
}
.stl_177 {
	letter-spacing: 0.1399em;
}

.ie .stl_177 {
	letter-spacing: 1.8584px;
}
.stl_178 {
	letter-spacing: -0.0058em;
}

.ie .stl_178 {
	letter-spacing: -0.0766px;
}
.stl_179 {
	letter-spacing: -0.0223em;
}

.ie .stl_179 {
	letter-spacing: -0.356px;
}
.stl_180 {
	letter-spacing: 0.0042em;
}

.ie .stl_180 {
	letter-spacing: 0.0558px;
}
.stl_181 {
	letter-spacing: -0.0435em;
}

.ie .stl_181 {
	letter-spacing: -0.5779px;
}
.stl_182 {
	letter-spacing: -0.11em;
}

.ie .stl_182 {
	letter-spacing: -1.4612px;
}
.stl_183 {
	letter-spacing: -0.033em;
}

.ie .stl_183 {
	letter-spacing: -0.4384px;
}
.stl_184 {
	letter-spacing: -0.022em;
}

.ie .stl_184 {
	letter-spacing: -0.2922px;
}
.stl_185 {
	letter-spacing: -0.0055em;
}

.ie .stl_185 {
	letter-spacing: -0.0726px;
}
.stl_186 {
	letter-spacing: 0.0043em;
}

.ie .stl_186 {
	letter-spacing: 0.0569px;
}
.stl_187 {
	letter-spacing: -0.0091em;
}

.ie .stl_187 {
	letter-spacing: -0.121px;
}
.stl_188 {
	letter-spacing: -0.0194em;
}

.ie .stl_188 {
	letter-spacing: -0.2572px;
}
.stl_189 {
	letter-spacing: 0.0039em;
}

.ie .stl_189 {
	letter-spacing: 0.0515px;
}
.stl_190 {
	letter-spacing: -0.006em;
}

.ie .stl_190 {
	letter-spacing: -0.0798px;
}
.stl_191 {
	letter-spacing: -0.105em;
}

.ie .stl_191 {
	letter-spacing: -1.3948px;
}
.stl_192 {
	letter-spacing: -0.098em;
}

.ie .stl_192 {
	letter-spacing: -1.3018px;
}
.stl_193 {
	letter-spacing: -0.04em;
}

.ie .stl_193 {
	letter-spacing: -0.5314px;
}
.stl_194 {
	letter-spacing: -0.0069em;
}

.ie .stl_194 {
	letter-spacing: -0.0915px;
}
.stl_195 {
	letter-spacing: -0.0051em;
}

.ie .stl_195 {
	letter-spacing: -0.068px;
}
.stl_196 {
	letter-spacing: -0.0125em;
}

.ie .stl_196 {
	letter-spacing: -0.1654px;
}
.stl_197 {
	letter-spacing: -0.086em;
}

.ie .stl_197 {
	letter-spacing: -1.1424px;
}
.stl_198 {
	letter-spacing: -0.0094em;
}

.ie .stl_198 {
	letter-spacing: -0.1245px;
}
.stl_199 {
	letter-spacing: -0.0087em;
}

.ie .stl_199 {
	letter-spacing: -0.1149px;
}
